[2021-02-02 16:46] pankajkumarbij opened #1 "Add a pull request template"

[2021-02-02 16:47] pankajkumarbij opened #2 "Add a issue template"

[2021-02-02 16:48] pankajkumarbij opened #3 "design a new logo for the project"
Design a new standard logo for the website.

[2021-02-03 12:39] 96RadhikaJadhav commented on #2
@pankajkumarbij  Can I work on the issue?

[2021-02-03 13:02] pankajkumarbij commented on #2
@96RadhikaJadhav go-ahead.

[2021-02-04 11:36] 96RadhikaJadhav commented on #1
@pankajkumarbij I would like to work on this issue too. May I?

[2021-02-04 11:42] pankajkumarbij commented on #2
Thank you for contributing to this project.

[2021-02-04 11:42] #2 closed

[2021-02-04 11:42] pankajkumarbij commented on #1
@96RadhikaJadhav Go ahead.

[2021-02-04 11:44] pankajkumarbij opened #5 "Add contributors in the readme.md"
Add contributors in the readme.md file.

[2021-02-04 12:24] pankajkumarbij commented on #1
Thank you for contributing to this project.

[2021-02-04 12:24] #1 closed

[2021-02-05 03:17] 96RadhikaJadhav commented on #5
@pankajkumarbij  From where to get contributors name?

[2021-02-05 03:23] pankajkumarbij commented on #5
@96RadhikaJadhav tries to do it dynamically So next time contributor name automatically update.
If you can not do dynamically than no issue do it static.
here you can see all contributors :
https://github.com/pankajkumarbij/easy-job-intern/graphs/contributors

[2021-02-05 03:36] 96RadhikaJadhav commented on #5
@pankajkumarbij  For now I can add manually. Going forward I guess we can implement this as a check in the PR template, so while creating PR everyone can add their name in the list.

[2021-02-05 03:44] pankajkumarbij commented on #5
@96RadhikaJadhav Good idea.

[2021-02-05 03:50] pankajkumarbij commented on #5
@96RadhikaJadhav Thanks for your contribution.

[2021-02-05 03:50] #5 closed

[2021-02-05 04:06] pankajkumarbij opened #9 "Improve readme file contributors name with their image."
Improve readme file contributors' names with their images.

[2021-02-07 13:55] pankajkumarbij opened #10 "Design a new footer"
Design a new footer for the website

[2021-02-07 13:58] pankajkumarbij opened #11 "Add a single command to run server with client together."
Currently, we need to start the server inside the server directory using ```nodemon or node app.js``` and start the client using ```npm start```. We want a single command ```npm start``` which should start both the server and the client.

[2021-02-07 14:10] pankajkumarbij opened #12 "Design a sign up and sign in form."
Design a sign-up page with basic details with react and react-bootstrap.
Name, Email, Mobile no, password, confirm password, image, college name, etc.

Sign-in form only with email and password.

[2021-02-07 14:12] pankajkumarbij opened #13 "add contributing.md file"
Use some screenshots for better understanding in contributing file.

[2021-02-07 14:18] pankajkumarbij opened #14 "Design an about us page."
Design an about us page with react-bootstrap.

[2021-02-07 17:48] 96RadhikaJadhav commented on #13
@pankajkumarbij Can I work on it?

[2021-02-07 18:50] pankajkumarbij commented on #13
Are you part of any open-source program?

[2021-02-13 13:21] arbazalam01 commented on #14
Can i work on this task.

[2021-02-13 13:33] arbazalam01 commented on #12
Can i work on this issue

[2021-02-13 14:52] pankajkumarbij commented on #12
@arbazalam01 Go ahead

[2021-02-13 15:03] arbazalam01 commented on #12
Thanks for assigning me

[2021-02-13 17:00] sujal111 commented on #9
Allow me to work on this issue

[2021-02-13 17:01] pankajkumarbij commented on #9
Go ahead

[2021-02-13 18:07] abhinav5481 commented on #10
Hi Pankaj,
I would like to work on this issue, could you please assign this to me?

[2021-02-13 20:41] Devenkapoor7303 commented on #10
Can I work on this issue

[2021-02-14 02:53] pankajkumarbij commented on #10
@abhinav5481 Go ahead

[2021-02-14 02:55] pankajkumarbij commented on #14
@arbazalam01 You can work on one issue at a time.

[2021-02-14 17:26] 96RadhikaJadhav commented on #13
Yes. I'm a participant of CrossWoc.

[2021-02-14 17:28] pankajkumarbij commented on #13
@96RadhikaJadhav go ahead

[2021-02-14 19:48] Devenkapoor7303 commented on #11
can i work on this issue

[2021-02-15 03:17] pankajkumarbij commented on #11
@Devenkapoor7303 Go ahead.

Make sure the project structure should not change.

[2021-02-15 04:11] Devenkapoor7303 commented on #11
Okay

[2021-02-15 04:44] #11 closed

[2021-02-15 08:52] Nirbhay1910 commented on #3
Hi, pls assign this issue to me

[2021-02-15 11:21] soumya-badkul commented on #14
@pankajkumarbij I would like to work on this issue

[2021-02-15 12:08] pankajkumarbij commented on #14
Go ahead.

[2021-02-15 12:11] pankajkumarbij commented on #3
Go ahead

[2021-02-15 12:17] pankajkumarbij opened #18 "Design Contact us page."
Design contact us page using react and react-bootstrap.

[2021-02-15 12:19] pankajkumarbij opened #19 "Design home page"
Design home page using react,react-bootstrap,icons etc.

You can explore some job and internship website as a reference.

[2021-02-15 12:46] Nirbhay1910 commented on #3
okay thanks

[2021-02-15 13:03] #10 closed

[2021-02-15 13:18] abhinav5481 commented on #19
Hi Pankaj,
I would like to work on this. Could you please assign it to me?

[2021-02-15 13:28] pankajkumarbij commented on #19
@abhinav5481 Go ahead

[2021-02-15 14:46] Devenkapoor7303 commented on #18
can i work on this issue

[2021-02-15 14:47] pankajkumarbij commented on #18
@Devenkapoor7303  go ahead

[2021-02-16 11:25] #3 closed

[2021-02-16 11:32] pankajkumarbij opened #22 "Add a logo in navbar (Logo is already present in public folder)"
Integrate logo in the navbar that is already present in the public folder.

[2021-02-16 12:52] #14 closed

[2021-02-16 14:45] soumya-badkul commented on #22
@pankajkumarbij can i work on this?

[2021-02-16 14:48] pankajkumarbij commented on #22
@soumya-badkul Go ahead

[2021-02-17 02:53] #12 closed

[2021-02-17 13:14] #22 closed

[2021-02-18 13:55] pankajkumarbij commented on #9
@sujal111 are you working on this issue?

[2021-02-18 13:56] pankajkumarbij commented on #13
@96RadhikaJadhav are you working on this issue?

[2021-02-18 14:58] pankajkumarbij opened #25 "Design privacy and policy page"
Design a general privacy and policy page using react-bootstrap.

[2021-02-18 15:00] pankajkumarbij opened #26 "Design a general terms and condition page"
Design general terms and condition page using react-bootstrap.

[2021-02-18 15:06] soumya-badkul commented on #25
@pankajkumarbij I would like to work on this

[2021-02-18 15:27] pankajkumarbij commented on #25
@soumya-badkul Go ahead

[2021-02-19 13:09] #25 closed

[2021-02-19 13:17] soumya-badkul commented on #26
@pankajkumarbij I would like to work on this

[2021-02-19 15:08] pankajkumarbij commented on #26
@soumya-badkul Go ahead

[2021-02-20 04:41] arbazalam01 commented on #18
is this issue still open

[2021-02-20 05:18] Devenkapoor7303 commented on #18
I was working on it sorry for being late

[2021-02-20 07:50] Devenkapoor7303 commented on #18
Is this looking okay?

![Capture](https://user-images.githubusercontent.com/73438023/108588215-d5e09880-730c-11eb-9699-fa7702009433.PNG)

[2021-02-20 16:16] pankajkumarbij commented on #18
Use the form border and make sure it should be responsive then make a PR.

[2021-02-20 16:27] #19 closed

[2021-02-20 17:59] Devenkapoor7303 commented on #18
Okay

[2021-02-21 08:55] #26 closed

[2021-02-23 07:41] arbazalam01 commented on #9
Can i work on this issue

[2021-02-23 07:42] arbazalam01 commented on #13
Can i work on this issue

[2021-02-23 18:05] pankajkumarbij commented on #13
@arbazalam01 Go ahead

[2021-02-23 18:07] pankajkumarbij commented on #9
@arbazalam01 only one issue can assign at a time.

[2021-02-24 13:02] #13 closed

[2021-02-24 13:06] pankajkumarbij commented on #9
@arbazalam01 Now Go ahead

[2021-02-24 13:08] #18 closed

[2021-02-24 13:50] pankajkumarbij opened #32 "Improve About Us page"
Improve the About us page.

- You can put dummy any data as of now.
- About us the page should be in dark mode with the best color combination because this website is building up in dark mode.
- Make sure use only react-bootstrap and CSS for style, don't use any other styling framework or libraries.
- Make sure every page should be responsive on every platform.

[2021-02-24 13:53] pankajkumarbij opened #33 "Improve Contact US page"
Improve the Contact US page.

- You can use input fields first name, email, mobile no, message and you can suggest other features also.
- Contact US the page should be in dark mode with the best color combination because this website is building up in dark mode.
- Make sure use only react-bootstrap and CSS for style, don't use any other styling framework or libraries.
- Make sure every page should

[2021-02-24 14:09] pankajkumarbij opened #34 "Improve NavBar"
Improve the Navbar

- Remove this logo because this logo's height is not fit the navbar(You can give brand name only if you don't want to design a logo)
- For all dropdown nav items there should be the effect of hover or animation effect.
- Nav items:-
         1. Internships dropdown (dropdown items should be some categories like part-time, engineering, MBA, etc., (you suggest and add other categ

[2021-02-24 15:43] pankajkumarbij opened #35 "Improve Login Page and Sign Up page design for Students"
Improve Login Page and Sign Up page design for students

- You can use input fields name, email, mobile no, password, confirm the password, agree on the checkbox, and can suggest other features also for the sign-up page.
- Login page only has email and password input fields and agrees on the checkbox.
- All pages should be in dark mode with the best color combination because this website is buildi

[2021-02-24 15:51] pankajkumarbij opened #36 "Design Login Page and Sign Up page design for employers or companies."
Design Login Page and Sign Up page design for employers or companies.

- You can use input fields company name, contact person name, email, mobile no, password, confirm the password, agree on the checkbox, and can suggest other features also for the sign-up page.
- Login page only has email and password input fields and agrees on the checkbox.
- All pages should be in dark mode with the best color

[2021-02-24 16:03] pankajkumarbij opened #37 "Integrate contact us page details with the database"
Integrate contact us page details with the database using node.js, express js, and MongoDB.

MongoDB database details should be in our local system means don't use any online platform to store data.

[2021-02-25 15:18] raman-thakur commented on #35
i would like to work on this

[2021-02-25 15:30] pankajkumarbij commented on #35
@raman-thakur read details carefully and Go ahead.

[2021-02-25 15:46] raman-thakur commented on #35
form design is good already but the hole page of login and signup is looking messy because of too much colors and not having distance with footer i will work on that @pankajkumarbij

[2021-02-25 15:53] pankajkumarbij commented on #35
@raman-thakur yeah use the best dark mode type color combination and set the best margin and padding and make sure it should be responsive.

[2021-02-26 06:32] raman-thakur commented on #33
can you assign this to me?

[2021-02-26 06:32] raman-thakur commented on #32
can you assign this to me?

[2021-02-26 07:22] pankajkumarbij commented on #33
One issue at a time can be assigned.

[2021-02-26 16:29] #35 closed

[2021-02-26 16:30] pankajkumarbij commented on #33
@raman-thakur Now You can Work on this issue.

[2021-02-28 16:22] iamansoni opened #40 "Typo in README.md"
There is a spelling mistake for the word `fork` under the `Contribution Guidelines` in the readme.md file.

![e0](https://user-images.githubusercontent.com/26296983/109425682-7458b200-7a0f-11eb-8e4b-8c9611082b1a.JPG)

[2021-02-28 16:28] pankajkumarbij commented on #40
@iamansoni Go ahead and correct if any other typo mistakes in the readme.

[2021-02-28 18:03] kunal299 commented on #36
@pankajkumarbij I would love to contribute to this issue. Can you assign this issue to me as a part of gssoc'21?

[2021-02-28 18:05] kunal299 commented on #32
@pankajkumarbij Can you assign this issue to me as a part of gssoc'21?

[2021-02-28 19:27] vrouilhac commented on #40
I saw the suggestions and I propose you a new version for your Readme.md. Please let me know if you like it.
#41

[2021-02-28 19:28] vrouilhac commented on #9
Hello, I see that this issue was opened 4 days ago and I suggested you a change if you want to see it. #41

[2021-03-01 05:55] pankajkumarbij commented on #33
@raman-thakur are you working on this issue?

[2021-03-01 05:57] pankajkumarbij commented on #36
Go ahead.

[2021-03-01 05:58] pankajkumarbij commented on #32
@kunal299 I can assign one issue at a time.
The coding period starts from 8th march 2021 (timeline updated)

[2021-03-01 06:52] pankajkumarbij commented on #36
@kunal299 Timeline has been updated, the coding period starts from 8/3/2021

[2021-03-01 08:25] Piyushjakhar commented on #34
Hey! Can i use Popper.js for dropdowns?

[2021-03-01 10:28] pankajkumarbij commented on #34
@Piyushjakhar yeah, you can use it.
Would you like to work on this issue?

[2021-03-01 10:29] Piyushjakhar commented on #34
yes already on it:)

[2021-03-01 10:30] Piyushjakhar commented on #34
@pankajkumarbij please assign it to me

[2021-03-01 10:32] #40 closed

[2021-03-01 10:56] sukhpreet-singh1 commented on #37
can we store data in MongoDB site ? if yes then assign me i will complete it

[2021-03-01 10:57] sukhpreet-singh1 commented on #33
assign me for this if no one working on this issue

[2021-03-01 10:58] sukhpreet-singh1 commented on #32
can you please assign me this issue?

[2021-03-01 11:07] pankajkumarbij commented on #37
@sukhpreet-singh1 we store data in MongoDB that is installed in our local system.

[2021-03-01 11:09] pankajkumarbij commented on #34
@Piyushjakhar are you part of any open source program?

[2021-03-01 11:11] Piyushjakhar commented on #34
@pankajkumarbij yes GSSOC'21

[2021-03-01 11:11] pankajkumarbij commented on #32
@sukhpreet-singh1 go-ahead

Are you part of any open source program?

[2021-03-01 11:12] pankajkumarbij commented on #34
GSSOC'21 timeline has been updated coding period starts from 8 March.

[2021-03-01 13:02] sukhpreet-singh1 commented on #32
yeah i am participant for GSSOC
but very excited for open source i would like do from now only

[2021-03-01 13:17] pankajkumarbij commented on #32
yeah, you can contribute at any time to any issue.

[2021-03-01 13:26] sukhpreet-singh1 commented on #32
@pankajkumarbij  should i use same color schema as used on home page?

[2021-03-01 13:31] pankajkumarbij commented on #32
@sukhpreet-singh1 home page design is not yet completed it required improvement, you can use a different color schema but colors should standard match with the dark theme.

[2021-03-01 13:33] sukhpreet-singh1 commented on #32
ok sure and should i put  issues which i found ?

[2021-03-01 13:48] kunal299 commented on #32
@pankajkumarbij But I'm working on this issue.

[2021-03-01 13:50] kunal299 commented on #32
@pankajkumarbij Aren't issues given on the basis of first-come first-serve?

[2021-03-01 15:06] pankajkumarbij commented on #32
@kunal299 I am very sorry, I was thinking that you are work only when GSSOC coding period starts.
You also comment on the sign-up sign-in issue you can work on that I am assigning you now.

[2021-03-01 15:09] sukhpreet-singh1 commented on #32
@pankajkumarbij i found some issue ,should i create them so more people can work on them ?

[2021-03-01 15:14] pankajkumarbij commented on #32
@sukhpreet-singh1 sure you can open issues always if any found.

[2021-03-02 05:53] Piyushjakhar commented on #34
will I be getting any points if I solve this issue before 8th March?

[2021-03-02 07:46] abhinav5481 commented on #37
I would like to work on this issue. If it is still open please assign it to me.

[2021-03-02 09:33] pankajkumarbij commented on #34
@Piyushjakhar you will be getting points after the coding period start.

[2021-03-02 09:39] #9 closed

[2021-03-02 11:48] #32 closed

[2021-03-02 11:50] pankajkumarbij commented on #33
Go-ahead

[2021-03-03 07:13] maanpatel2492 commented on #37
I can solve this issue.Assign me if possible.
(under GSSOC 21)

[2021-03-03 17:04] akshay1027 commented on #33
I would like to work on this @pankajkumarbij

[2021-03-04 04:12] pankajkumarbij commented on #37
GO ahead

[2021-03-04 04:13] pankajkumarbij commented on #37
@maanpatel2492 GSSOC coding period will start from 8th march.

[2021-03-04 04:43] maanpatel2492 commented on #37
But on their website it is 1st March.

[2021-03-04 06:06] pankajkumarbij commented on #37
The timeline has been updated, check below details

https://docs.google.com/document/d/1pqhhsE1E1-bqn_etHTKhK0fWKR9v1hL_lBAsjTvTbN0/edit

[2021-03-04 06:42] maanpatel2492 commented on #37
okay,thanks

[2021-03-06 05:59] kmryashasvi opened #44 "I will add name and photo of maintainer in the end of readme file of your repo"
like the one mentioned below
![image](https://user-images.githubusercontent.com/66861659/110197101-27da0000-7e6f-11eb-844e-ae594670e253.png)

[2021-03-06 06:04] pankajkumarbij commented on #44
@kmryashasvi Go ahead.

[2021-03-06 06:27] #44 closed

[2021-03-07 06:50] #33 closed

[2021-03-07 15:22] sukhpreet-singh1 commented on #34
if you allow i will like to work on this issue

[2021-03-07 15:24] sukhpreet-singh1 commented on #36
can you please assign me this issue, i would like to work on it.

[2021-03-07 15:26] pankajkumarbij commented on #34
@Piyushjakhar any update ?

[2021-03-07 15:27] pankajkumarbij commented on #34
@sukhpreet-singh1 wait till tomorrow for the reply that he working on this issue or not.

[2021-03-07 15:30] pankajkumarbij commented on #36
@kunal299 are you working on this issue?

[2021-03-07 15:31] kunal299 commented on #36
@pankajkumarbij yes

[2021-03-07 15:39] sukhpreet-singh1 commented on #34
ok
k

[2021-03-08 04:06] Piyushjakhar commented on #34
yes i am working on that issue
i was just waiting for the coding period to start

[2021-03-08 04:15] sukhpreet-singh1 commented on #36
@pankajkumarbij can i create a issue regarding improvement of home page?

[2021-03-08 14:05] pankajkumarbij commented on #36
@sukhpreet-singh1 yes you can.

[2021-03-08 15:21] Piyushjakhar commented on #34
Hey I have made a seperate branch and tried to push to that branch, but it says you dont have access to do so

[2021-03-08 15:22] Piyushjakhar commented on #34
And regarding the issue of navbar, i have almost updated it with all the requirements but struggling in the css part of search bar to make it responsive.
please help me out in this.

[2021-03-08 15:23] pankajkumarbij commented on #34
@Piyushjakhar send me some screenshots.

[2021-03-08 15:29] Piyushjakhar commented on #34
![Capture](https://user-images.githubusercontent.com/29627742/110342216-28ca8780-8051-11eb-9438-2ca9610abe12.PNG)

[2021-03-08 15:30] Piyushjakhar commented on #34
here i have made a seperate branch named as navbar and then tried to push into that

[2021-03-08 15:32] pankajkumarbij commented on #34
@Piyushjakhar first you have to push the branch in your forked repo after that there will be an option for Compare and pull request.
read contributing.md file.

[2021-03-08 16:08] Piyushjakhar commented on #34
Hey i have made a pull request.
please help me in the issue mentioned in the pull request description.
Thanks

[2021-03-08 16:44] #34 closed

[2021-03-08 20:49] Faizanrz7 commented on #37
@pankajkumarbij  I would like to work in this issue as a part of gssoc'21, assign me if possible

[2021-03-09 02:29] pankajkumarbij commented on #37
@abhinav5481 are you working on it?

[2021-03-09 03:11] pankajkumarbij opened #50 "Integrate Login and Signup page for students with database."
Integrate Login and Signup page for students with database

Use mongoose(MongoDB) with Node.js(express.js) for store user details. (use local system MongoDB for store means don't use any online platform).

[2021-03-09 04:06] sparshsharma2510 commented on #50
Hey, I would love to contribute to this. Please assign it to me

[2021-03-09 04:37] abhinav5481 commented on #37
Yeah I'm working on it. Please give me some more time. I will try to create a PR by today EOD.

[2021-03-09 04:45] sparshsharma2510 commented on #50
Also, can you please suggest me ways to get started with it

[2021-03-09 04:45] pankajkumarbij commented on #37
@abhinav5481 keep it up

[2021-03-09 04:48] pankajkumarbij commented on #50
@sparshsharma2510 Go ahead.
Read contributing.md and readme.md file to understand how to run the project and make a PR.

[2021-03-09 06:13] srk224 commented on #50
Hey. I would like to work on this issue? Is their a discord or any other medium to communicate well?

[2021-03-09 09:29] Esha-Sherring commented on #50
I would like to work on this issue

[2021-03-09 11:52] pankajkumarbij commented on #50
@srk224 and @Esha-Sherring this issue is already assigned.
You can find the discord channel in the readme file.

[2021-03-09 15:14] #37 closed

[2021-03-10 04:13] #50 closed

[2021-03-10 07:33] Vaibhav-afk opened #53 "Typo in README.md"
###  Typo in README.md
## Given
In TECH STACK
MangoDB

## Expected
In TECH STACK
MongoDB

[2021-03-10 07:34] Vaibhav-afk commented on #53
I can fix

[2021-03-10 07:37] Vaibhav-afk commented on #53
I Can Fix

[2021-03-10 12:36] pankajkumarbij commented on #53
@Vaibhav-afk Go ahead

[2021-03-10 12:44] pankajkumarbij commented on #36
@kunal299 are you working on it? because I have assigned you before 10 days, please give updates about it?

[2021-03-10 15:04] pankajkumarbij commented on #36
@kunal299 I have updated the project structure first you pull the changes in your repository and then complete the work and make PR.

[2021-03-10 15:11] pankajkumarbij opened #55 "Connect database with contact us page."
Integrate database with contact us page.

Use ```fetch``` in react for post and get data.

Backend is already present in the server(you can update backend code also if you want).

All mongoose-related schemas should be in the models folder in the server and route in the routes folder.

[2021-03-10 15:13] pankajkumarbij opened #56 "Integrate database with login and signup pages for students."
Integrate database with login and signup pages for students.

Use fetch in react for post and get data.

All mongoose-related schemas should be in the models folder in the server and route in the routes folder.

code formatting should be nice.

[2021-03-10 15:15] pankajkumarbij opened #57 "Suggestions for improvement of UI and backend."
you can give suggestions for improvement of UI and backend.

[2021-03-10 15:19] kartikpuri99 commented on #55
please assign this issue to me.Can i use axios for request instead of fetch?

[2021-03-10 15:48] pankajkumarbij opened #58 "Connect about us page link with about us button in footer"
Connect about us page link with about us in the footer.

Make sure the page should not be refresh use react-router dom.

[2021-03-10 15:49] pankajkumarbij opened #59 "Connect contact us page link with contact us button in the footer."
Connect contact us page link with contact us button in the footer.

Make sure the page should not be refresh use react-router-dom.

[2021-03-10 15:50] pankajkumarbij opened #60 "Connect privacy policy page link with privacy policy button in the footer."
Connect privacy policy page link with privacy policy button in the footer.

Make sure the page should not be refresh use react-router-dom.

[2021-03-10 15:51] pankajkumarbij opened #61 "Connect terms and condition page link with terms and condition button in the footer."
Connect terms and condition page link with terms and condition button in the footer.

Make sure the page should not be refresh use react-router-dom.

[2021-03-10 15:53] kartikpuri99 commented on #58
Please assign this issue to me

[2021-03-10 15:55] pankajkumarbij commented on #58
@kartikpuri99 you commented in two issues which one you want to contribute because only one issue can be assigned at a time.

[2021-03-10 15:56] kartikpuri99 commented on #58
i can do this first please assign this first and if someone didnot take that one i would take it after i have completed this one

[2021-03-10 16:03] pankajkumarbij commented on #55
@kartikpuri99 one issue can be assigned at a time.

[2021-03-10 16:27] aishwarya0816 commented on #61
@pankajkumarbij Please assign this issue to me. I am a GSSOC'21 participant.

[2021-03-10 16:28] aishwarya0816 commented on #60
@pankajkumarbij Please assign this issue to me. I am a GSSOC'21 participant.

[2021-03-10 16:28] aishwarya0816 commented on #59
@pankajkumarbij Please assign this issue to me. I am a GSSOC'21 participant.

[2021-03-10 16:28] pankajkumarbij commented on #60
@aishwarya0816 Go ahead

[2021-03-10 16:32] pankajkumarbij commented on #61
@aishwarya0816 Only one issue can be assigned at a time.
make PR for the already assigned issue then I will assign another issue.

[2021-03-10 16:33] pankajkumarbij commented on #59
@aishwarya0816 Only one issue can be assigned at a time.
make PR for the already assigned issue then I will assign another issue.

[2021-03-10 16:35] arbazalam01 commented on #59
can i work on it as a GSSOC21 participant

[2021-03-10 16:36] pankajkumarbij commented on #59
@arbazalam01 Go ahead

[2021-03-10 17:03] kartikpuri99 commented on #58
Please review my PR.I have connected the code for connecting the footer link to about us page and have also refactored the code of react-router as there was code repetition in both navbar and footer i have called the browser router in app.js to avoid code repetition

[2021-03-10 17:09] kartikpuri99 commented on #61
@pankajkumarbij Please assign it to me.

[2021-03-10 17:10] sakshigoel19 commented on #61
@pankajkumarbij I am a GSSOC'21 participant. Please assign it to me.

[2021-03-10 17:15] #58 closed

[2021-03-10 17:16] pankajkumarbij commented on #58
@kartikpuri99 Very nice work.

[2021-03-10 17:16] pankajkumarbij commented on #61
@kartikpuri99  Go ahead

[2021-03-10 17:17] pankajkumarbij commented on #61
Issues assigned as based on FCFS manner.

[2021-03-10 17:19] pankajkumarbij commented on #59
@arbazalam01 Now the project is updated because I have merged a PR.
You can easily resolve the issue now.
Pull all the changes from the master branch and then try to contribute.

[2021-03-10 17:20] pankajkumarbij commented on #60
@aishwarya0816  Now the project is updated because I have merged a PR.
You can easily resolve the issue now.
Pull all the changes from the master branch and then try to contribute.

[2021-03-10 19:04] hrushikesh-git commented on #56
hey @pankajkumarbij  I would like to work on this issues as GSSOC'21 participant please assign this issue to me

[2021-03-10 19:05] hrushikesh-git commented on #60
@pankajkumarbij  can you assign this issue to me I am gssoc participant

[2021-03-11 02:51] kunal299 commented on #36
The coding phase started from 8th March so I working from that day.

[2021-03-11 03:30] pankajkumarbij commented on #36
@kunal299 ok

[2021-03-11 03:32] #60 closed

[2021-03-11 03:34] #61 closed

[2021-03-11 03:37] sukhpreet-singh1 opened #66 "improving the Home page design and making it responsive"
i would like to solve this issue under GSSOC21 as i had already used your project i found home page some field to be changed.

[2021-03-11 03:40] pankajkumarbij commented on #66
Go ahead

[2021-03-11 03:41] pankajkumarbij commented on #56
@hrushikesh-git Go ahead

[2021-03-11 03:41] pankajkumarbij commented on #55
@kartikpuri99 Now you can work on this issue but you should use the fetch method only.

[2021-03-11 03:50] hrushikesh-git commented on #56
@pankajkumarbij thank you for assigning this issue will start working on it and get back to you

[2021-03-11 04:00] asi309 opened #67 "Login and signup endpoint"
## Create Login and Signup endpoint for backend.

<ul>
  <li>These endpoints are to be used for connecting frontend to backend api</li>
  <li>use simple names like 'login' and 'signup</li>
  <li>create model for user based on fields available in signup page (Check frontend). Model should be in models folder.</li>
</ul>

[2021-03-11 04:04] hrushikesh-git commented on #56
Do I have to create models and for the student? If yes can you please list out me the required fields

[2021-03-11 04:04] pankajkumarbij commented on #67
@asi309 Nice issue but please check issue #56
I think both issues have conflict.

[2021-03-11 04:07] pankajkumarbij commented on #56
@hrushikesh-git you can explore the front end part of the signup ad login form for students(all fields are required).

[2021-03-11 04:08] hrushikesh-git commented on #56
Okay thanks

[2021-03-11 04:09] pankajkumarbij commented on #67
@asi309 this issue is nicely explained but the issue is already opened.
you can comment under that issue for other functionalities that you want.
Thank you.

[2021-03-11 04:13] asi309 commented on #67
@pankajkumarbij Closing this issue and commenting under #56 .

[2021-03-11 04:18] #67 closed

[2021-03-11 08:58] asi309 opened #68 "MongoDb connection"
Create mongodb connection in main server file.

Currently, mongodb connection is handled in routes files.

Move connection logic to server/index.js before app.listen statement.

Please follow error handling while connecting db.

[2021-03-11 09:31] hrushikesh-git commented on #56
hey @pankajkumarbij  created modals, route and integrated with react frontend please check and suggest changes if any

[2021-03-11 10:17] healer9 commented on #57
Hello @pankajkumarbij .
For Contact Us page and sending data to backend.

Instead of doing this, we can use [Formspree](https://formspree.io/) a third-party service provider (it's totally free) which can handle our contact-us form submission and send the submission to the email that we provided in real-time.
And we also don't need a backend for this.

The rest of the thing is handled by Formspree

[2021-03-11 10:32] saumyasrivastava08 opened #70 "Can we deploy this on Heroku"
As it will be easy for viewers to view the site and notice down the changes.

[2021-03-11 10:42] kartikpuri99 commented on #55
Please review my PR I have completed it.

[2021-03-11 11:57] #68 closed

[2021-03-11 12:17] #56 closed

[2021-03-11 12:48] pankajkumarbij commented on #57
@healer9 Thanks for giving a nice suggestion.
I will confirm and tell you about it.

[2021-03-11 12:58] pankajkumarbij commented on #70
@saumyasrivastava08 we need to do some more work after that we will deploy this on Heroku.

[2021-03-11 13:09] pankajkumarbij commented on #57
@healer9 You can open an issue related to it and start working on it.
I will assign you.

[2021-03-11 13:27] hrushikesh-git opened #72 "We can insert Alert messages"
For the instruction of client, For ex:- After Login or signup a popup will came show that signup is successfull or if any error
![alert](https://user-images.githubusercontent.com/65762074/110794153-73d7db00-829b-11eb-8573-6ceb970d7df9.png)

[2021-03-11 13:28] hrushikesh-git commented on #72
Please @pankajkumarbij  have a look into this and if you agree please assign this to me GSSOC'21

[2021-03-11 13:31] udaymittal7 commented on #57
Hello @pankajkumarbij. Can I implement the login route and controller function?

[2021-03-11 13:47] pankajkumarbij commented on #72
@hrushikesh-git GO ahead

[2021-03-11 13:49] hrushikesh-git commented on #72
Thanks @pankajkumarbij

[2021-03-11 13:54] kartikpuri99 commented on #55
Please check now

[2021-03-11 14:04] #55 closed

[2021-03-11 14:14] pankajkumarbij opened #74 "Add required files and folders in .gitignore for frontend and backend both."
Add required files and folders in .gitignore for frontend and backend both.

ex: node_modules, package-lock.json, .eslintcache etc.

you can search about it which files and folders should be in .gitignore.

[2021-03-11 14:20] srk224 commented on #74
Hey.
Can I work on this ..I have some experience in web-dev and I think ill be able to do it.
Can you assign it to me ?

[2021-03-11 14:21] aishwarya0816 commented on #74
I would like to do this. Please assign it to me

[2021-03-11 14:58] aditisneh commented on #57
Hey, @pankajkumarbij , can improvise the readme by adding a banner/gif kind of logo for easy job intern.

[2021-03-11 14:59] healer9 opened #75 "Handling Contact Us Form submission using Formspree API"
## Is your feature request related to a problem? Please describe.
Creating Contact Us Form using Formspree.

## Describe the solution you'd like
I'll create contact-us form UI using React JS on the frontend and send the data of the user to the project admin email through Formspree API.

I'm going to edit the contact-us.js file and update it using react functional component i.e, Hooks. After that,

[2021-03-11 15:09] healer9 commented on #75
@pankajkumarbij assign this issue to me and provide me the fields you want to be in the contact-us form.

You have to create an account on the Formspree website and you also have to generate a token (secret). So that formspree API can authenticate through it.

Provide me the email where I've to send the data on submission of the form and the generated token.

[2021-03-11 15:11] pankajkumarbij commented on #75
@healer9 Go ahead

[2021-03-11 15:35] pankajkumarbij commented on #75
Contact us form fields: Name, Email, Mobile no(optional), message.

Can you work with your email id and token as of now because it is easy to check that email is working or not with the sent msg.

After that when work is ready to make a PR then I will give you a token and email id or you can use the .env file to configuring secrete key and email id.

If you want to work only with my account then I

[2021-03-11 15:45] pankajkumarbij opened #76 "Make footer more responsive"
Make the footer more responsive that all the fields that look on the full screen also should be view in mobile view or any view.

[2021-03-11 15:50] healer9 commented on #75
![contact-us](https://user-images.githubusercontent.com/60239025/110814281-4f85f980-82af-11eb-867b-29301d40f28c.png)

## Do I have to change the current UI or its ok?

## Or do I have to implement only the submission handling part of the contact-us form?

[2021-03-11 15:51] pankajkumarbij commented on #74
@srk224 Go ahead

[2021-03-11 15:52] pankajkumarbij commented on #74
@aishwarya0816 You can work on issue #76
Because issues are assigned based on FCFS manner.

[2021-03-11 15:54] pankajkumarbij commented on #76
@aishwarya0816 Go ahead

[2021-03-11 16:02] pankajkumarbij commented on #75
@healer9 If you can implement a better UI for the contact us page then it is well and good otherwise you can work with the submission handling part only.

[2021-03-11 16:11] pankajkumarbij commented on #74
@aishwarya0816, please comment below on issue #76  so I can able to assign you.

[2021-03-11 16:13] aishwarya0816 commented on #76
I want to work on this issue

[2021-03-11 16:22] srk224 commented on #74
Done!! and created the PR.
Please check it out
@pankajkumarbij

[2021-03-11 16:35] healer9 commented on #75
@pankajkumarbij  Can I use Axios (npm) for posting data to the formspree server?

[2021-03-11 16:38] pankajkumarbij commented on #57
@aditisneh create a issue and Go ahead, I will assign you.

also add GSSOC mentors section and you have to put mentors image wih their name same like my image is already present in the readme.

GSSOC mentors: @aditisneh , @Vidit-jindal , @palashgdev usernames at github

[2021-03-11 16:46] pankajkumarbij commented on #75
@healer9 you can use axios but try to use ```fetch``` because all other backend part is use fetch method for request, so its good to use same method for all.

[2021-03-11 16:59] pankajkumarbij commented on #59
@arbazalam01 are you working on this issue?

[2021-03-11 18:02] healer9 commented on #75
@pankajkumarbij
### I'm ready to make a pull request.
I check my work and the form is also getting submitted successfully. And the contact form data is also sent to the email address(Currently on my email) successfully. 🙂

[2021-03-11 18:08] pankajkumarbij commented on #75
@healer9 I will provide you details tomorrow after create account, you can make PR after I will send you details email and token secret key.

[2021-03-11 18:11] #74 closed

[2021-03-11 19:59] hrushikesh-git opened #79 "Creating signout route and write it's logic and Connect with react"
## Describe the bug
After Logging in we can't make a logout request we have to manually clear data

## Solution
Create a signout Route at the backend and integrate it with React Front-End and Create a bottom in NavBar using Conditional rendering

[2021-03-11 19:59] hrushikesh-git commented on #79
@pankajkumarbij hey if you agree let me please work on it and assign it to me thank you

[2021-03-12 02:34] pankajkumarbij commented on #79
@hrushikesh-git Go ahead

After login a student there should be an email or name of the student in the navbar and a logout button instead of sign-in and sign-up buttons.

[2021-03-12 03:23] pankajkumarbij commented on #75
@healer9 After login which type of project I need to create?

Please tell all the steps for generating the key and all.

[2021-03-12 05:41] healer9 commented on #75
# Steps to follow:

- First, you should verify your email address through which you have been registered.
- Click on create a "New project" button.
- Enter your "Project Name" in the Project Name field.
- And then click the "Create Project" button.

![project-name](https://user-images.githubusercontent.com/60239025/110895793-5436c600-8320-11eb-8c2a-6ccd16560370.png)

- Click on get started.

![get

[2021-03-12 06:03] aditisneh opened #80 "Enhancing the UI(readme.md)"
Basically , we need to add an attractive poster so that people get to see our project.  A banner for mentors involved. We can also add a gif explaining how our objective works, this will convey the message very easily and attract the crowd.

[2021-03-12 06:06] aditisneh commented on #57
@pankajkumarbij , I have created an issue. Will talk there :)

[2021-03-12 06:25] arbazalam01 commented on #59
can you please check the PR

[2021-03-12 06:32] aditisneh commented on #80
![easy-job-intern](https://user-images.githubusercontent.com/56735634/110901690-b399d380-832a-11eb-9f04-764dcf7e3b40.png)
This can be our logo/banner at top.
Please assign this and add gssoc21 and level tags.

[2021-03-12 06:42] srk224 commented on #80
I would like to work on this .
Please assign this to me

[2021-03-12 07:20] pankajkumarbij commented on #75
@healer9 Nice Explanation I understood and created API successfully But I can't give API here in the comment because it will visible to the public.
Make a PR, I will chnage API there.
You tell me where I should chnage API.
Please remove your API details before making a PR.

[2021-03-12 07:24] #59 closed

[2021-03-12 07:28] #72 closed

[2021-03-12 07:36] pankajkumarbij commented on #80
@aditisneh Go ahead

[2021-03-12 07:36] aditisneh commented on #80
@pankajkumarbij okay thanks

[2021-03-12 08:18] healer9 commented on #75
Ok I'll.

@pankajkumarbij  Can you please update the `GSSOC` label to `GSSOC21`.

[2021-03-12 09:12] richakumari19 commented on #80
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 11:22] abhinav5481 opened #84 "Create a contact us form on the footer."
## Is your feature request related to a problem? Please describe.
It would be better if the footer will a short `contact us` form which will have email & message as input.

## Describe the solution you'd like
A form with the above-mentioned fields.

[2021-03-12 11:23] abhinav5481 commented on #84
hi @pankajkumarbij
I would like to work on this issue as part of Gssoc'21. Could you please assign me this issue?

[2021-03-12 11:47] pankajkumarbij commented on #80
@rk05-lenavo This issue is already assigned, one issue can be assigned to only one at a time.

[2021-03-12 12:04] pankajkumarbij commented on #75
@healer9 I have updated the label name.

[2021-03-12 12:24] pankajkumarbij commented on #84
@abhinav5481 you can do that after some time because some backend work related to this is ongoing.
I put this is on hold at this time.

[2021-03-12 12:56] abhinav5481 commented on #84
No problem, then, please assign this task to me when the ongoing backend work gets completed.

[2021-03-12 13:30] pankajkumarbij commented on #84
@abhinav5481 Sure

[2021-03-12 15:54] richakumari19 commented on #76
I'm GSSOC'21 participant. wanted to work on this issue. Can you please assign me this issue?

[2021-03-12 16:48] udaymittal7 opened #86 "Sending mail using nodemailer when a new user signs up."
I would like to add the functionality of sending a mail whenever a new user signs up to the app.
I am a participant of GSSOC'21.

If you find it relevant, please assign me to it and add the necessary tags.

[2021-03-12 18:20] pankajkumarbij commented on #76
@rk05-lenavo This issue is already assigned.

[2021-03-13 05:01] gokulkannan7 opened #88 "About Page"
I would like to add content in the about section of the website based on what you want to have there.
I am a participant in GSSOC'21. If you find it relevant, please assign me to it and add the necessary tags

[2021-03-13 05:11] #75 closed

[2021-03-13 05:14] pankajkumarbij commented on #88
@gokulkannan7 You can work on this issue I will tell you that what things require to be in about us.

[2021-03-13 06:02] gokulkannan7 commented on #88
@pankajkumarbij  Yeah, sure

[2021-03-13 10:06] #80 closed

[2021-03-13 11:32] palashgupta98 commented on #86
Hi @udaymittal7
Please use https://sendgrid.com/ which exposes a node package for same

[2021-03-13 11:37] udaymittal7 commented on #86
@palashgdev Yes, as service in nodemailer, I was gonna use gmail or sendgrid as per the instructions. So, now  I will be using sendgrid as the service. Thank you. Please add the relevant tags.

[2021-03-13 11:39] palashgdev opened #90 "Configure DOTenv"
## Describe the bug
secrets in an app should be grabbed from an environment variable rather than a hard coded string which is [located here](https://github.com/pankajkumarbij/easy-job-intern/blob/master/server/keys.js)

## Expected behaviour
should grab the variables from .env and should make an assertion that necessary variables are present while starting the app

## Additional context
There shou

[2021-03-13 11:40] palashgupta98 commented on #90
@pankajkumarbij please add relevant tags for the same so that it will be helpful

[2021-03-13 11:41] palashgupta98 commented on #86
@pankajkumarbij can you please add relevant tags here

[2021-03-13 11:42] palashgupta98 commented on #86
also @pankajkumarbij make sure the address is verified

[2021-03-13 12:14] pankajkumarbij commented on #90
@palashgdev Which level of difficulty I should give to this issue.

[2021-03-13 12:59] nandinibansal2000 commented on #90
I would like to work on this issue. Kindly assign this issue to me.

[2021-03-13 13:02] pankajkumarbij commented on #84
@abhinav5481 We not need to put the contact us page in the footer because there we require other things.

Thanks for opening an issue.

[2021-03-13 13:02] #84 closed

[2021-03-13 13:04] pankajkumarbij commented on #90
@nandinibansal2000 Go ahead

[2021-03-13 13:15] pankajkumarbij commented on #36
@kunal299 are you working on it or not?

[2021-03-13 13:15] pankajkumarbij commented on #66
@sukhpreet-singh1 any update?

[2021-03-13 13:19] udaymittal7 commented on #86
I have created a PR with #91 tag on it. Please review it @palashgdev @pankajkumarbij.

[2021-03-13 13:21] sukhpreet-singh1 commented on #66
yes i will make PR tomorrow

[2021-03-13 13:28] pankajkumarbij commented on #66
@sukhpreet-singh1 ok

[2021-03-13 13:35] pankajkumarbij commented on #79
@hrushikesh-git when you have done this issue's work?

[2021-03-13 13:39] pankajkumarbij commented on #86
@palashgdev please review the PR related to this issue.

[2021-03-13 14:12] kunal299 commented on #36
@pankajkumarbij yes

[2021-03-13 14:13] kunal299 commented on #36
I Will show the work tomorrow. It will be completed by tom.

[2021-03-13 15:38] mani9896 opened #92 "Express Validator"
## Want to add express validator to validate form data at backend for POST signin and signup request.

#Please let me contribute for this feature

[2021-03-13 16:17] udaymittal7 opened #93 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload
Preventing parameter pollution

If you find it relevant, please assign me.
Please add the relevant GSSOC tags too.

[2021-03-13 16:35] pankajkumarbij commented on #36
@kunal299 ok

[2021-03-13 16:37] #86 closed

[2021-03-13 16:41] pankajkumarbij commented on #92
@mani9896 Thanks for opening an issue.

Wait for confirmation after that you can work on this issue if confirmed.

[2021-03-13 16:43] pankajkumarbij commented on #93
@udaymittal7 Thanks for opening an issue.

Wait for confirmation after that you can work if confirmed.

[2021-03-13 17:30] udaymittal7 commented on #93
@pankajkumarbij Okay.

[2021-03-13 19:38] hrushikesh-git commented on #79
Hey @pankajkumarbij  sorry due to a family problem I couldn't do this but soon within a day or two I will finish it and merge the code. Really sorry for the delay

[2021-03-14 02:48] pankajkumarbij commented on #79
@hrushikesh-git No problem, I have just asked about the update.
You can do it whenever you are free.

[2021-03-14 06:29] kartikpuri99 opened #94 "Sign Up Logic at the backend not working"
## Sign Up form backend route not working properly
After filling up the Signup/register form the user is not able to register and his data is not stored in the database.It shows the following error

![image](https://user-images.githubusercontent.com/52126579/111059495-21c1d000-84bc-11eb-8a47-cb4011cb9673.png)

Please assign this issue to me and allow me to fix it.

[2021-03-14 06:42] pankajkumarbij commented on #94
@kartikpuri99 it is not an error, first we should make a .env file configuration but that is not required at this time so I have commented on all those things.

Now you can pull all the changes and check it will work.

[2021-03-14 06:42] #94 closed

[2021-03-14 07:01] kartikpuri99 commented on #94
It will work now but now the email will not be sent to a user when new user signs up .The error was because of the name conflict as the function email and the variable coming from req.body had the same name.

[2021-03-14 07:05] pankajkumarbij commented on #94
Yeah, there is a name conflict but now we do not need to send the mail.
Thanks for finding an issue.

[2021-03-14 09:50] #79 closed

[2021-03-14 09:54] kernal053 opened #96 "Contact Us Form Validation"
## Describe the bug
There are multiple validation issues while filling up contact us form.
- First and Last name can be even limited to single letter word( Thus doesn't provide proper identity of user).
- Email validation is checked when user click on submit button( It should be checked while filling up that field).
- Mobile No. can even be less than 10 character.
- Message field character length

[2021-03-14 12:20] pankajkumarbij commented on #96
@kernal053 Go ahead

[2021-03-14 12:21] pankajkumarbij commented on #92
@mani9896 Go ahead

[2021-03-14 12:51] pankajkumarbij commented on #93
@udaymittal7 Thanks for opening this issue.
But We do not need this feature at this time.

[2021-03-14 12:51] #93 closed

[2021-03-14 13:01] pankajkumarbij opened #97 "login and sign-up form validation for students."
Login and Sign-up form validation for students.

Use a proper validation method if the user does not enter valid field data then it should give an error msg in a proper format.

[2021-03-14 13:07] kartikpuri99 commented on #97
Please assign this issue to me.

[2021-03-14 13:08] abhishek96k commented on #97
Hey @pankajkumarbij  I would like to work on this issue.  As part of `gssoc` please assign me.

[2021-03-14 13:19] pankajkumarbij commented on #97
@kartikpuri99 Go ahead.

[2021-03-14 13:20] pankajkumarbij commented on #97
One issue can be assigned to one person at a time and issues assigned based on FCFS.

[2021-03-14 13:29] pankajkumarbij opened #98 "Student profile builder form"
Student profile builder form where user can make own profile after login.

You need to make a front-end form only for all the given sections.

- Student Address
- Github Link
- Linkedin Link
- Other Profile Link (Codechef, Portfolio, any hackathon/coding website, etc)
- Education (College/School name, Stream/Branch, Start Date, End Date, Performance Scale(Optional): CGPA/Percentage, etc, Performan

[2021-03-14 13:30] abhishek96k commented on #98
Hey @pankajkumarbij  I would like to work on this issue. Please assign this issue to me.

[2021-03-14 13:31] pankajkumarbij commented on #98
@abhishek96k Go ahead

[2021-03-15 14:20] kartikpuri99 commented on #97
Please review my PR.I have added form validation using custom validator to both login and signup form and have also created a generalized function for checking form validation which can be used in other forms too.Also the form button would be disabled till the time all inputs are validated

[2021-03-15 15:49] mitalirs opened #101 "Update profile, patch request"
## Creating a route to enable the student to update his/her profile

## Solution
I wish to create a route in the student.js file of the router folder inside the server folder. This path will enable the student to update his/her profile. The student will be able to update include 'name', 'email', 'mobile', 'password' fields. The route permits the student to update the profile only when he/she is au

[2021-03-15 15:54] pankajkumarbij commented on #101
@mitalirs are you know React?

You want to work only with the backend without the front-end or both backend and front-end?

[2021-03-15 16:03] pankajkumarbij commented on #36
@kunal299 Now I can no longer be assigned to you this issue, I will assign it to other students because they want to work on this issue.

You have to make a signup and login form the frontend only.

[2021-03-15 16:04] pankajkumarbij commented on #76
@aishwarya0816 any update?

[2021-03-15 16:07] pankajkumarbij commented on #88
@gokulkannan7 We want to make this website for the purpose of connecting students to companies so that companies can open applications and students can apply in multiple companies with the same profile.

You can explore some job and internship websites and put about content accordingly.

[2021-03-15 16:11] #97 closed

[2021-03-15 16:16] aishwarya0816 commented on #76
I am on it. Now I'm doing it using css grid. Will that be okay?
Also can you clarify once exactly how is it expected. Like when you say responsive:

1) do you want it to look similar in mobile view (like to how it is in the laptop view.)
2) or can I rearrange it. So as every thing will be visible in any view but in different arrangement (css grid). In this case the 4 columns in footer in laptop wi

[2021-03-15 16:22] pankajkumarbij commented on #76
@aishwarya0816 I want the 2nd option: Everything will be visible in any view but in a different arrangement (CSS grid). In this case, the 4 columns in the footer in the laptop will rearrange themselves one below another in mobile view.

You can use CSS grid.

[2021-03-15 16:24] aishwarya0816 commented on #76
@pankajkumarbij Okay I will do it asap

[2021-03-15 16:26] mitalirs commented on #101
@pankajkumarbij sir, I wish to work on the backend part only as of now, as I have just started exploring react in depth

[2021-03-15 16:33] pankajkumarbij commented on #101
@mitalirs Ok you can work on this issue but when make a PR please clear that how to connect it with the front-end and working strategy because when We make the front-end part of this then other contributors should clear about it.

I am in 3rd year So please don't call me sir.

Thanks for opening this issue.

[2021-03-15 17:39] mitalirs commented on #101
@pankajkumarbij,  Yes, I will add the details while creating PR. Thank you for assigning this issue.

[2021-03-16 05:33] srk224 commented on #98
Hey , if @abhishek96k is not able to do it. Can you assign it to me?

[2021-03-16 10:20] krishna-y2000 opened #102 "Google Authentication for signup"
## Is your feature request related to a problem? Please describe.
I have found that  google authentication is remaining to add in this project . It is very helpful nowadays and saves a lot more time of user.

## Describe the solution you'd like
I would like add direct authentication api of google in this project so that user's time will save.

Please assign this task to me as part of gssoc'21 and

[2021-03-16 10:23] #102 closed

[2021-03-16 10:29] krishna-y2000 opened #103 "Adding security features - gssoc'21"
## Is your feature request related to a problem? Please describe.
Improves the security of the website.

## Describe the solution you'd like
Setting various HTTP headers using helmet
Rate limiter so the server won't get overload.
Added mongo sanitize for data sanitization against noSQL query injection
Added xss for data sanitization against XSS.

I have also worked on this before on another gssoc

[2021-03-16 11:58] SananditaDas opened #104 "Add a 'Saved items' section"
I intend to add a 'saved items' section beside the blogs section, and design the page as well.
On clicking it,
- If the user is not signed in, it will redirect to signup/login page
- Else, show the saved items page

@pankajkumarbij can you please assign me this issue as a part of GSSOC'21?

[2021-03-16 13:24] kartikpuri99 opened #105 "Remove the deprecated bodyParser dependency."
## Removing body parser dependency
Body-parser now comes as a method in express version>=4.16 and hence is not needed.Please assign this issue to me and allow me to remove the depreciated dependency and change the code accordingly.

[2021-03-16 13:50] krishna-y2000 opened #106 "Signup Verification"
## Is your feature request related to a problem? Please describe.
I found out that one can register any dummy email which is not in even real world. So, its necessary to verify the email for properly validate the user.

## Describe the solution you'd like
I would add signup verificaion through email feature .

Please assign this issue to me as part of GSSOC'21 and apply tag level to it .

[2021-03-16 13:53] abhinav5481 commented on #96
Hi @pankajkumarbij
I would like to work on it under CrossWoc'21. Could you please assign it to me?

[2021-03-16 13:55] abhinav5481 commented on #88
Hi @pankajkumarbij
I would like to work on this issue as part of CrossWoc'21. Please assign it to me.

[2021-03-16 13:56] pankajkumarbij commented on #98
@srk224 Wait for some days I think he is trying.

[2021-03-16 13:58] pankajkumarbij commented on #96
@kernal053 Are you working on this issue?

[2021-03-16 13:59] kernal053 commented on #96
Yes @pankajkumarbij , I will send PR by tomorrow.

[2021-03-16 14:01] pankajkumarbij commented on #88
@abhinav5481 I have messaged him tomorrow I think He is working on it.

[2021-03-16 14:04] pankajkumarbij commented on #96
@kernal053 Ok Keep it up.

[2021-03-16 14:04] abhinav5481 commented on #88
I think he is working for GSSOC'21. But I want to work on it for CrossWoc'21. Can you simultaneously assign it to me user crosswoc label?

[2021-03-16 14:18] pankajkumarbij commented on #88
@abhinav5481 But only one contributor can work with one issue.
You can work on issue #36
Comment under that issue if you want to work on that issue.
I will assign you.

[2021-03-16 14:20] abhinav5481 commented on #36
Hi @pankajkumarbij
I would like to work on this issue. Please assign it to me under crossWoc

[2021-03-16 14:21] abhinav5481 commented on #88
Commented

[2021-03-16 14:24] pankajkumarbij commented on #36
@abhinav5481 Go ahead

@kunal299 Please don't make PR now.

[2021-03-16 14:54] kunal299 commented on #36
@pankajkumarbij Sorry, as I have commented first on various other projects, I was not able to complete this project. Once again really sorry.

[2021-03-16 15:22] pankajkumarbij commented on #36
@kunal299 It's ok

[2021-03-16 15:25] pankajkumarbij commented on #104
@SananditaDas Till now in the project there are no such items.
Can you explain more about it what you are going to implement

[2021-03-16 15:25] pankajkumarbij commented on #105
@kartikpuri99 Go ahead

[2021-03-16 15:26] pankajkumarbij commented on #106
@krishna-y2000 Go ahead

[2021-03-16 15:33] pankajkumarbij opened #107 "Enhanced user experience with bug fixes, code enhancements etc."
Enhanced user experience with bug fixes, code enhancements related to favicons, etc.

[2021-03-16 15:34] #107 closed

[2021-03-16 15:43] malay5 commented on #107
Please assign this issue to me so I can start working on it asap. I am participating via GSSOC21.

[2021-03-16 16:22] SananditaDas commented on #104
I am going to design a separate page to display the particular jobs the user has saved to view it later sometime.

Implementation -
In the main database, each user will have a unique id, and each unique id will be associated with an array of saved items. So while displaying those saved items (for the current user) we just need to filter by his unique id and load the items in the webpage. Here the

[2021-03-16 16:54] pankajkumarbij commented on #104
@SananditaDas First we have to develop the website more because till now there are no job items so the user can save the items.

So we will do it later.

[2021-03-16 17:37] krishnmohan19 opened #108 "Add logo to the navbar"
## Is your feature request related to a problem? Please describe.
its better to have logo on navbar.Improve UI

## Describe the solution you'd like
Adding a logo ,make Navbar more attractive .

## Additional context

[2021-03-16 17:40] krishnmohan19 commented on #108
I would like to add logo  on navbar.
Please assign this issue to me as part of GSSOC'21 and apply tag level to it .

[2021-03-17 02:53] pankajkumarbij commented on #108
@krishnmohan19 Go ahead

Design a logo and fir it into the navbar. The logo should not be very large and change the height of the navbar.

[2021-03-17 03:20] WebVishal opened #109 "Suggestion: Create a Slider in Main Section (Home)"
Hii @pankajkumarbij  I'm Vishal Kumar, I want to contribute to this project as participant Gssoc21 when I reviewed this website then I realized that I think should be a slider in the main section for more interactive user Can I work on it if yes then please assigned this issue to me

[2021-03-17 03:46] pankajkumarbij commented on #98
@abhishek96k are you working on this issue?

[2021-03-17 03:46] pankajkumarbij commented on #66
@sukhpreet-singh1 any update?

[2021-03-17 03:47] pankajkumarbij commented on #109
@WebVishal Go ahead

[2021-03-17 04:52] sukhpreet-singh1 commented on #66
i had created but it was having responsive issue it was now looking good on phone now changing it further.

[2021-03-17 06:40] pankajkumarbij commented on #66
@sukhpreet-singh1 Keep it up

[2021-03-17 07:43] abhay27chauhan opened #111 "No need to use body-parser when using express version 4.16+"
## Is your feature request related to a problem? Please describe.
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

## Describe the solution you'd like
You have added a line to your code that looks like the following:

- app.use(bodyparser.json());

If you are using Express 4.16+ y

[2021-03-17 10:19] SananditaDas commented on #104
Ok

[2021-03-17 10:58] pankajkumarbij commented on #111
@abhay27chauhan This issue is already open in issue #105.
He is given PR also so now issue is solve.
I am closing this issue.

[2021-03-17 10:58] #111 closed

[2021-03-17 10:59] #105 closed

[2021-03-17 11:00] #104 closed

[2021-03-17 11:00] #70 closed

[2021-03-17 11:07] pankajkumarbij commented on #98
@srk224 Go ahead.

[2021-03-17 11:52] srk224 commented on #98
@pankajkumarbij I am on it.

[2021-03-17 16:39] NehaK745 opened #113 "I want to improve Size of the text "Easy Job intern" in navbar"
## Is your feature request related to a problem? Please describe.
I think lt will look better if the size of the text will be bigger than another link.

## Describe the solution you'd like
Increasing font size makes it look better.

## Additional context
Please assign this issue to me as part of GSSOC'21.

[2021-03-17 18:31] hrushikesh-git opened #114 "Creating an Employee Model"
![employe](https://user-images.githubusercontent.com/65762074/111518669-4ba91a00-877c-11eb-8ae9-0efbacbae899.png)
As mentioned on the website we have a signing and Register links for the employee so we can Create a MongoDB model of the employee.
Schema Overview

- Name of Employee
- Official Mail
- password
- Company/Firm Name
- Job Title available for internship

and we can work on more of it
if

[2021-03-18 04:19] AbhishekTiwari07 opened #115 "Adding authentication middleware"
## Is your feature request related to a problem? Please describe.
Current method is not much secure for user authentication.

## Describe the solution you'd like
I'll add reusable authentication middleware that will make APIs more secure and can be used in future too.

## Additional context
It would also help in creating user login session.

[2021-03-18 04:19] AbhishekTiwari07 commented on #115
pls assign this to me :)

[2021-03-18 05:35] abhinav5481 opened #117 "Integrate Employer signup & login data with backend"
## Is your feature request related to a problem? Please describe.
Yes. Integrate Employer signup & login data with backend

Also, solve problems related to data is not stored for login and signup form of students.

[2021-03-18 05:36] abhinav5481 commented on #117
Hi @pankajkumarbij
I would like to work on this as part of CrossWoc'21. Please assign it to me.

[2021-03-18 05:44] #96 closed

[2021-03-18 05:49] #36 closed

[2021-03-18 05:54] pankajkumarbij commented on #117
@abhinav5481 Go ahead

and also login and signup for student's backend are already present so you should manage both and write a similar code format.

Currently login and signup for students data not stored after merged some PR. please check if any mistake you found.

I give this issue label hard.

You can open an issue for student login and signup form improvement for students and make a similar

[2021-03-18 05:55] abhinav5481 opened #118 "Improve the design of Student login & Student Signup page"
## Describe the bug
The design of the Student signup page at this point of time is way different from the rest of the application which is affecting the
aesthetics of the application.

## Expected behaviour
The student Signup page should have a good aesthetic appeal aligned with the rest of the design of the application.

[2021-03-18 05:56] abhinav5481 commented on #118
Hi @pankajkumarbij
I would like to work on it as part of crossWoc'21. Please assign it to me.

[2021-03-18 05:56] pankajkumarbij commented on #118
@abhinav5481 Go ahead

[2021-03-18 06:00] pankajkumarbij commented on #113
@NehaK745 Thanks for opening an issue but we do not need of brand name in the navbar because we need a logo instead of that so that issue is already assigned to someone.

[2021-03-18 06:00] #113 closed

[2021-03-18 06:06] pankajkumarbij commented on #114
@hrushikesh-git Thanks for opening an issue but this issue is already assigned to someone because he designs the frontend part and wants backend work for the same under another program.

[2021-03-18 06:06] #114 closed

[2021-03-18 06:10] pankajkumarbij commented on #115
@AbhishekTiwari07 You can after some time because some backend work related to sign up and login is ongoing.

You can add an authentication middleware after backend work is completed in 2 or 3 days after that I will assign you.

You should make middleware for both student's login and employer login both so I am giving you the Level3 label.

I am putting this issue on hold for now whenever backend

[2021-03-18 07:52] #118 closed

[2021-03-18 09:42] hrushikesh-git opened #120 "Category in Internships"
I have and Idea to Introduce the categories in this platform, as there are many fields for internship and many of us are sure about the category and domain in which we have to do internships so we can introduce a  category(Modal ) which then we can help to sort and internships and the user will have a good user experience with it.

@pankajkumarbij  Please look into this and let me know what you th

[2021-03-18 10:02] krishna-y2000 commented on #106
Hii @pankajkumarbij  sir ,
Sir is there anyone who can help me out. I am new to it and facing problem .I tried to ask few people in general channel but could not get appropriate answer.

[2021-03-18 15:02] pankajkumarbij commented on #106
@krishna-y2000 We have to use email verifier api to validate the correct email. If you are not able to do it then no problem we don't need this feature this time.

[2021-03-18 15:03] pankajkumarbij commented on #120
@hrushikesh-git Go ahead.

[2021-03-18 15:27] sk1122 opened #121 "Add Fresher Jobs alongside Internship"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Getting a Job as a Fresher is more tough that to get an Internship.
To make available opportunities for jobs also we would help a lot of people out there.

## Describe the solution you'd like
A clear and concise description of what you want

[2021-03-18 16:14] pankajkumarbij commented on #121
@sk1122 There is already an option for the fresher's job in the navbar.

On which part you want to work please describe and how?

[2021-03-18 16:17] sk1122 commented on #121
Oh Sorry, have you deployed your website cause I can't see the link

[2021-03-18 16:33] pankajkumarbij commented on #121
@sk1122 Project is not deployed but you can see by the run project in your local system.

After checking everything then you can open the best issue.

[2021-03-18 16:36] #109 closed

[2021-03-18 16:41] pankajkumarbij commented on #66
@sukhpreet-singh1 After you forked the project there are many PR merged then you should pull all the changes and check once that all things are working or not before making PR.

[2021-03-18 17:35] #121 closed

[2021-03-18 19:14] nikitakapoor1919 opened #123 "UI of Student -Register Form"
## Is your feature request related to a problem? Please describe.
I want to change UI of student signup form
## Describe the solution you'd like
![Untitled](https://user-images.githubusercontent.com/62166533/111683494-934aa700-884b-11eb-96a5-75e817bc4b4f.png)
I have notice confirm password is of type="text" but it must be type="password"
Also I want to make UI enhancement here.

## Additional cont

[2021-03-18 19:40] hrushikesh-git commented on #120
Thank You!
Hey Will You help me? How should I update my local repository with all changes in the current repo ?

[2021-03-19 02:31] palashgupta98 commented on #90
@nandinibansal2000 any bottleneck?

[2021-03-19 03:50] pankajkumarbij commented on #120
@hrushikesh-git You have to pull all the changes from the original repo master branch.

Read the official documentation for how to pull all the changes from the original repo or you can take the help of other internet resources to learn.

[2021-03-19 03:55] pankajkumarbij commented on #123
@nikitakapoor1919 Go ahead and make type="password" for confirm password and type=" number" for contact field in all 4 forms login, signup for student and employer.

[2021-03-19 04:19] Ankita297 commented on #88
@pankajkumarbij   Can i work on this ?

[2021-03-19 05:50] krishna-y2000 commented on #106
@pankajkumarbij  , yes sir i know that. But i am not able to do it that with react-hooks. I can do that in backend part of nodejs.

[2021-03-19 05:52] pankajkumarbij commented on #88
@gokulkannan7 are you working on it?

[2021-03-19 05:54] pankajkumarbij commented on #106
@krishna-y2000 Ok, then no problem we need it only for the front end part if you can not do we will do it later.

[2021-03-19 06:00] krishna-y2000 commented on #106
@pankajkumarbij  ok sir , even though i will try this and let this issue be open .

[2021-03-19 06:01] pankajkumarbij commented on #106
@krishna-y2000 ok

I am in my 3rd year so please don't call me sir.

[2021-03-19 06:42] kartikpuri99 opened #125 "Making the login and signup form UI mobile responsive"
## Is your feature request related to a problem? Please describe.
Right now the signup and login form are not mobile responsive.It is looking something like this in mobile view.

![image](https://user-images.githubusercontent.com/52126579/111740415-bf494500-88aa-11eb-8aab-166f4c846ad3.png)

## Describe the solution you'd like
Instead it should be take the full width in mobile view like this.(Just

[2021-03-19 06:43] pankajkumarbij commented on #125
@kartikpuri99 Go ahead.

[2021-03-19 06:45] kartikpuri99 commented on #125
Also i have just checked the code and noticed that someone has removed all the signup and login form logic and form validations in the frontend part.

[2021-03-19 06:48] pankajkumarbij commented on #125
@kartikpuri99 Yeah I have merged by mistake by just looking at screenshots without checking file different code.

Can you please do it again because you have done those things I think you have all the logic?

If you can do then please do it.

[2021-03-19 06:50] kartikpuri99 commented on #125
I have to check it if i am having those codes .if i am having it i will do it .Let me check it first.

[2021-03-19 06:50] pankajkumarbij commented on #125
ok

[2021-03-19 06:52] kartikpuri99 commented on #125
Okay I am having it i will make all the required changes.

[2021-03-19 07:41] hrushikesh-git commented on #120
Thank You

[2021-03-19 10:40] krishnmohan19 commented on #108
Hey, @pankajkumarbij
I have made a PR for this issue. Please review it.
https://github.com/pankajkumarbij/easy-job-intern/pull/126

[2021-03-19 11:01] AbhishekTiwari07 commented on #115
@pankajkumarbij Please let me know when I can start

[2021-03-19 16:35] chauhanprakhar opened #127 "Models and Routes for companies"
I think it would be great if companies have their models where they can easily see the no. of applicants and their responses from which they can view their profiles. This will also give the flexibility to create a profile section for companies as well. A company will post intern if we will give them more options and features. I would like you to think about this idea and please give me suggestions

[2021-03-19 17:11] pankajkumarbij commented on #115
@AbhishekTiwari07 till now backend part is not completed.

[2021-03-19 17:12] pankajkumarbij commented on #125
ok

[2021-03-19 17:16] pankajkumarbij commented on #127
@chauhanprakhar Wait for some time because some backend part is ongoing after that we will discuss it and I will assign some work to you related to it.

[2021-03-20 06:50] Jassi10000-zz commented on #98
@pankajkumarbij Being a GSSOC'21 Participant , I would also like to try my hands on this issue , can you please assign it to me

[2021-03-20 06:55] Jassi10000-zz commented on #106
@pankajkumarbij Being a GSSOC'21 participant , I also want to  try my hands out on this issue , can you pls assign me this

[2021-03-20 07:51] Jassi10000 opened #128 "Validation Improvement in Signup Form"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I currently forked this repo and tried to signup in the signup form seciton with some random wrong details [ name , password , contact  etc . ]  and as a result it got submitted which is wrong for the project

here's the demo
![githubissue](

[2021-03-20 09:32] krishna-y2000 commented on #106
Hii @Jassi10000 ,
I am the assigned person. But would you like to work with me . You will do react part and i will do the backend . What do you say ?
@pankajkumarbij you can divide our points on leaderboard, right ? I asked in general channel we can divide it.

[2021-03-20 10:19] #120 closed

[2021-03-20 10:21] pankajkumarbij commented on #98
@srk224 are you working on it?

Are you able to solve this issue?

[2021-03-20 10:22] pankajkumarbij commented on #106
@Jassi10000 can you work with @krishna-y2000 ?

[2021-03-20 10:24] pankajkumarbij commented on #128
@Jassi10000 Go ahead and make validation for all 4 sign-up and login pages for students and employers.
I give level3 if you do validation for all pages.

[2021-03-20 10:27] pankajkumarbij commented on #66
@sukhpreet-singh1 any update?

[2021-03-20 10:28] pankajkumarbij commented on #92
@mani9896 Are you working on it?

[2021-03-20 10:29] pankajkumarbij commented on #117
@abhinav5481 are you working on it?

[2021-03-20 10:32] Jassi10000 commented on #128
Thanks @pankajkumarbij   , sure I'll try my best to deliver best result

[2021-03-20 10:32] abhinav5481 commented on #117
Yeah I have almost completed it. I will create PR by today

[2021-03-20 10:33] abhinav5481 commented on #117
Will that be fine?

[2021-03-20 10:36] Jassi10000 commented on #106
Sure @pankajkumarbij   , I am ready to work with @krishna-y2000 . I will work for frontend form validations and he can take for backend

[2021-03-20 10:38] Jassi10000-zz commented on #128
Sure @pankajkumarbij  , I will try my best to do that with expected outcome , thanks for assigning me

Sir I have to ask one thing , can you please how many of them are for frontend and how for backend ?
so pls add the tags for that too

[2021-03-20 10:45] srk224 commented on #98
@pankajkumarbij Yes I am working on this issue!

[2021-03-20 10:48] mani9896 commented on #92
Hey sorry got a little busy in some personal things , please give me some time I'm working on it

[2021-03-20 11:14] pankajkumarbij commented on #92
@mani9896 ok ok

before making a PR first pull all the changes from the original repo because there are many PR merged after you forked.

After pulling all the changes and update your work check that the project is working fine or not.

[2021-03-20 11:15] pankajkumarbij commented on #98
@srk224 Keep it up

[2021-03-20 11:17] pankajkumarbij commented on #117
@abhinav5481 ok ok, you can take time to implement I want only confirm about it.

[2021-03-20 11:19] pankajkumarbij commented on #128
@Jassi10000 Bro there are no points for frontend and backend tags.

Points depend upon level tags only.

Level0<Level1<Level2<Level3

[2021-03-20 11:33] Jassi10000-zz commented on #128
Okk sure brother @pankajkumarbij  , thanks for clearing

[2021-03-20 13:37] hrushikesh-git opened #130 "Clutter Free Routes(Moving to Controllers)"
To much clutter inside the router files, We can Move the functions in the controller files and that will reduce the clutter in routes folder and that will be more traceable we will follow the MCV architecture Model–view–controller, so we will introduce the controller folder in the backend

![MVC](https://user-images.githubusercontent.com/65762074/111871330-5992b100-89af-11eb-813f-2f39a1b99aef.png)

[2021-03-20 13:39] hrushikesh-git commented on #120
Thank You

[2021-03-21 06:26] akshay1027 commented on #128
I would like to contribute to this issue as well, if it's still open after some days, please assign me

[2021-03-21 12:39] #76 closed

[2021-03-21 12:42] #117 closed

[2021-03-21 12:46] pankajkumarbij commented on #128
@akshay1027 this issue is opened tomorrow only.

[2021-03-21 12:47] pankajkumarbij commented on #128
@Jassi10000 Pull all the changes from an original branch before making a pull request because there are some pull requests merged.

[2021-03-21 12:50] pankajkumarbij commented on #115
@AbhishekTiwari07 Now the backend for signup and login for both companies and students is done.

You can now create middleware files in the server/middleware for both students and employers.

[2021-03-21 12:51] pankajkumarbij commented on #66
@sukhpreet-singh1 are you working on it?

[2021-03-21 12:56] pankajkumarbij commented on #130
@hrushikesh-git at this time we don't need this feature.

Thanks

[2021-03-21 12:56] #130 closed

[2021-03-21 12:58] pankajkumarbij commented on #101
@mitalirs are you working on it?

[2021-03-21 12:59] pankajkumarbij commented on #123
@nikitakapoor1919 are you working on it?

Any update?

[2021-03-21 13:11] hrushikesh-git commented on #130
okay thanks anyway

[2021-03-21 13:46] nikitakapoor1919 commented on #123
@pankajkumarbij Yes I have update types U have mentioned. Shall I update UI also ?

[2021-03-21 13:52] pankajkumarbij commented on #123
@nikitakapoor1919 We only need to chnage types at this time.

But if you have a better UI then send me some sample screenshots I will review and tell you.

Now one PR related to signup signing is merged so pull all the changes from original repo.

[2021-03-21 13:57] nikitakapoor1919 commented on #123
@pankajkumarbij  I will do that.
And I will send some UI design ideas also which I am thinking.

[2021-03-21 14:53] Jassi10000-zz commented on #128
@pankajkumarbij you mean I must  " git pull " all the changes in my forked version  before  adding some new code ?

If this is you are saying , then that I have already done

[2021-03-21 15:39] #123 closed

[2021-03-21 15:40] pankajkumarbij commented on #128
Ok then work on it

[2021-03-21 16:28] mitalirs commented on #101
@pankajkumarbij Yes, I have written the code for update route and auth middleware
But currently, the student object is not keeping track of tokens for the login/signup session of the student. While checking that the student is authenticated before updating, I will need the current JWT token to verify the user. Will it be okay if I add a tokens array on the  'studentSchema'? It will store tokens co

[2021-03-21 20:59] aishwarya0816 opened #135 "Betterment of the PR template"
## Is your feature request related to a problem? Please describe.
The current PR template does not suggest the contributor to add necessary screenshots.

## Describe the solution you'd like
I will add the mentioned section in template for original and updated template

Please assign it to me @pankajkumarbij

[2021-03-22 03:50] Jassi10000 commented on #128
Sir am available between 4-5

On Sun, 21 Mar 2021, 21:10 pankaj kumar bijarniya, ***@***.***>
wrote:

[2021-03-22 04:16] pankajkumarbij commented on #135
@aishwarya0816 Go ahead and add a screenshot/video section in the PR template.

[2021-03-22 06:04] #115 closed

[2021-03-22 06:12] chauhanprakhar commented on #127
@pankajkumarbij  so it's discussed now

[2021-03-22 06:18] pankajkumarbij commented on #127
@chauhanprakhar Now log-in and Signup page for employers are working fine.

After login an employer there should be shows in the navbar email of the employer, and a dropdown with view profile, edit profile, open an opportunity, and a logout button.

After login an employer if he clicks on view profile then they should able to view all the details about them except password.

Can you do this task?

[2021-03-22 06:36] chauhanprakhar commented on #127
@pankajkumarbij  okay, I will add this logic in the backend.

[2021-03-22 11:28] pankajkumarbij commented on #127
@chauhanprakhar Need in both backend and frontend both.

[2021-03-22 14:15] mitalirs commented on #101
Is this okay? Or I am supposed to create a separate issue for the tokens array property for studentSchema?

[2021-03-22 14:34] kartikpuri99 commented on #125
@pankajkumarbij  I have submitted the PR  with all the changes you requested please review it.

[2021-03-22 15:24] pankajkumarbij commented on #101
@mitalirs Now please pull all the changes from the original repo because there are many PR merged after you forked there are now both middleware present for companies and students in the server/middleware folder.
When a user is login then it gives a token. Pull changes ad check your requirements are fulfilled or not.

[2021-03-22 15:43] aishwarya0816 commented on #127
@pankajkumarbij I would like to do the frontend for it while he does the logic in backend

[2021-03-22 16:38] #125 closed

[2021-03-22 16:40] #135 closed

[2021-03-22 16:43] pankajkumarbij commented on #127
@aishwarya0816 You do the frontend part and @chauhanprakhar You can do the backend part.

please tell me it is ok for you both?

If you need any more clear information about it then please let me know here.

[2021-03-22 16:44] pankajkumarbij commented on #66
@sukhpreet-singh1 I will close this issue tomorrow because you are not giving any update about it so I will consider that you are not working on this issue.

[2021-03-22 16:45] pankajkumarbij commented on #88
@Ankita297 Go ahead

[2021-03-22 16:46] mitalirs commented on #101
@pankajkumarbij, yes, I checked it, the changes made will solve my problem.
Thank you

[2021-03-22 16:47] pankajkumarbij commented on #101
ok keep it up

[2021-03-22 16:48] kartikpuri99 opened #139 "Adding form validation in employer SignIn and login form and making it mobile responsive"
## Is your feature request related to a problem? Please describe.
Right now there are no form validation in employer SignIn and login form and is not mobile responsive

## Describe the solution you'd like
I want to resolve this issue and want to add form validation into it.Kindly assign this issue to me

[2021-03-22 17:48] aishwarya0816 commented on #127
Yes @pankajkumarbij this looks good to me. Will you be suggesting the design for it that matches with the rest of the website ?
Also @chauhanprakhar ,
(Aishwarya (P)) is my discord username in case we need to discuss anything regarding this issue

[2021-03-22 18:38] mitalirs commented on #101
@pankajkumarbij I have created the Pull Request. Please review it.

[2021-03-23 09:50] pankajkumarbij commented on #139
@kartikpuri99 please don't add validation for this because one issue is already opened for it.

you have to need only to make the page responsive only for employers.

[2021-03-23 10:03] kartikpuri99 commented on #139
okay i will remove the validation part of the code for employer

[2021-03-23 10:04] pankajkumarbij commented on #139
@kartikpuri99 ok remove validation only for the employer, not for students.

[2021-03-23 11:21] #139 closed

[2021-03-23 15:54] himanshujaidka opened #142 "Need controller folder"
## Describe the bug
A clear and concise description of what the bug is.
Route file should be clear and there is a need for a controller folder and inside the controller, all the logic should be present
I will be happy, if this issue is assigned to me

[2021-03-24 04:45] himanshujaidka commented on #142
@pankajkumarbij any updates?

[2021-03-24 06:37] promaroy opened #143 "Show and hide password feature in signup/login forms"
Ability to show/hide password gives a better UI experience. Hence I would like to add this feature.

[2021-03-24 06:37] promaroy commented on #143
Kindly assign me this issue for GSSOC 21

[2021-03-25 04:04] mitalirs opened #144 "Logout route"
## Creating a logout route, logout from current session + logout from all sessions

## Solution
I will create these (logout from current session + logout from all sessions) routes for both student and employer inside the respective router files. User authentication will be a pre-requisite to perform this operation. So it will make use of auth middleware.

@pankajkumarbij, can you please assign thi

[2021-03-25 05:36] #66 closed

[2021-03-25 05:39] pankajkumarbij commented on #142
@himanshujaidka Ok go ahead but after changing all the files and logics in the controller folder and route folder sign and login should work for both students and employers.

[2021-03-25 05:40] pankajkumarbij commented on #143
@promaroy Go ahead and add these features for both logins and sign-up pages for students and employers.

[2021-03-25 05:43] pankajkumarbij commented on #127
@aishwarya0816 @chauhanprakhar please open new issues with a clear description regarding your work.

[2021-03-25 05:43] #127 closed

[2021-03-25 05:43] pankajkumarbij commented on #88
@Ankita297 are you working on it?

[2021-03-25 05:44] pankajkumarbij commented on #144
@mitalirs please add a logout button in the navbar after login a student or employer connect with the backend.

[2021-03-25 05:47] abhinav5481 commented on #88
@pankajkumarbij
If anyone is not working on it. Please assign it to me.

[2021-03-25 05:57] #101 closed

[2021-03-25 05:58] pankajkumarbij commented on #88
@abhinav5481 wait for a reply If she is not working on it I will assign it to you.

[2021-03-25 05:58] #90 closed

[2021-03-25 05:59] pankajkumarbij commented on #98
@srk224 any update??

[2021-03-25 06:00] pankajkumarbij commented on #108
@krishnmohan19 any update??

[2021-03-25 06:10] srk224 commented on #98
@pankajkumarbij I will be able to complete by tomorrow and ill show how the student profile builder looks definitely by tommorow.

[2021-03-25 06:12] srk224 commented on #98
@pankajkumarbij Actually i was not familiar with react , so I was learning it and side by side working on it, that's why it is taking so much of time
really sorry for this delay

[2021-03-25 06:16] pankajkumarbij commented on #98
@srk224 Ok but I need this work asap so please try to complete it asap.

[2021-03-25 06:24] srk224 commented on #98
@pankajkumarbij Yes sure...ill complete it asap

[2021-03-25 07:36] mitalirs commented on #144
I am really sorry @pankajkumarbij. I am still working on reactjs because I am also having my semester exams. Could I please add the backend logic only? I will specify the details in the PR

[2021-03-25 07:47] Ankita297 commented on #88
I am working on it @pankajkumarbij

[2021-03-25 11:09] abhay27chauhan opened #145 "Initial Connection errors are not handled"
## Is your feature request related to a problem? Please describe.

snippet of you code -

[code]

read this pls, the error handling part -
https://mongoosejs.com/docs/connections.html#:~:text=If%20initial%20connection%20fails%2C%20Mongoose,after%20initial%20connection%20was%20established.

you have handle two errors -

if promise is rejected -> using the above code i have proposed
error after init

[2021-03-25 11:10] abhay27chauhan commented on #145
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-25 11:35] pankajkumarbij commented on #144
@mitalirs ok write backend code only and give details.

[2021-03-25 11:38] pankajkumarbij commented on #145
@abhay27chauhan we want to complete the website with adding features now, we will change and improve later logics.

Thanks for opening this issue.

[2021-03-25 11:38] #145 closed

[2021-03-25 13:18] abhinav5481 commented on #37
Hi @pankajkumarbij
I had contributed to this issue 16 days ago. I'm a participant GSSOC'21. Will this PR would be counted for GSSOC'21?

[2021-03-25 14:54] pankajkumarbij commented on #37
@abhinav5481 If your PR merged after 8 march 2021 then it will counted in GSSOC'21.

[2021-03-25 21:09] aishwarya0816 opened #147 "Frontend for 'Your Profile' page of employer."
After login by an employer the navbar should show the  email of the employer, and a dropdown with view profile, edit profile, open an opportunity, and a logout button.

@pankajkumarbij Please assign me this issue as discussed earlier.

[2021-03-26 04:48] pankajkumarbij commented on #147
@aishwarya0816 Go ahead

[2021-03-26 06:46] himanshujaidka commented on #142
okay, working

[2021-03-26 07:27] Ankita297 commented on #88
![Uploading React App - Google Chrome 26-03-2021 12_56_55.png…]()

[2021-03-26 07:27] Ankita297 commented on #88
![React App - Google Chrome 26-03-2021 12_57_03](https://user-images.githubusercontent.com/67833077/112597196-d0f29580-8e32-11eb-8918-a27090422c6b.png)

[2021-03-26 07:27] Ankita297 commented on #88
![React App - Google Chrome 26-03-2021 12_56_55](https://user-images.githubusercontent.com/67833077/112597233-df40b180-8e32-11eb-9622-83ce104c60f1.png)

[2021-03-26 07:28] Ankita297 commented on #88
@pankajkumarbij
 is this okay or you need some changes . Any other idea or suggestion ?

[2021-03-26 12:13] krishna-y2000 commented on #103
@pankajkumarbij  hii ,
I would like to work this issue . please assign this to me .

[2021-03-26 15:10] Ankita297 commented on #88
@pankajkumarbij  please see .

[2021-03-26 15:16] #143 closed

[2021-03-26 18:03] mitalirs opened #150 "Separate functions in user model + token generation"
## Separate functions in user model + token generation on signup

1. I will create separate functions in the model files of employer and student to:
a. generate auth tokens
b. find the user by credentials
c. hash password before it gets saved to the database
instead of writing the code in the routes directly as this will increase the code reusability.
2. Currently, a token is not being generated w

[2021-03-27 05:11] mitalirs commented on #144
@pankajkumarbij I have created the Pull Request. Please review it.

[2021-03-27 12:54] #144 closed

[2021-03-27 13:02] pankajkumarbij commented on #88
@Ankita297 Nice Work but
This project is also for job and intern roles. Companies register here and then open opportunities on our website that feature is not done but we will be done it.

So you can not promote any other website you have to write about our web site only.

Explore some best about us pages on different websites and make it accordingly.

[2021-03-27 13:05] pankajkumarbij commented on #88
@Ankita297 You can convert that three columns in Internship, Job, Fresher's Job instead of companies and I will give later the link of job, internship, freshers job page link with buttons you can make PR without the link of buttons.

Add best icons for internship, job, freshers job instead of companies logo and write small content about intern, job, freshers job respectively.

Hope you understand.

[2021-03-27 13:09] pankajkumarbij commented on #103
@krishna-y2000 Actually first we are adding features and basic work so we will work on improving the website later.

You can suggest any other feature request and tell me in the suggestion issue I will discuss it with you there.
we do not need it at this time.

Thanks for opening this issue.

[2021-03-27 13:09] #103 closed

[2021-03-27 13:09] Ankita297 commented on #88
So you are asking for like in single row add three columns one of internship ,job and Fresher's jobs
is it right ? @pankajkumarbij

[2021-03-27 13:10] Ankita297 commented on #88
also the content  in about section  should i add more ?

[2021-03-27 13:14] pankajkumarbij commented on #88
@Ankita297 I want one row that you are already created and that is fine you can update content with a mixture of internship, job, freshers job.

And I want to replace 3 columns that you are created for other compies link with respect to the Internship column, job column, freshers job column.

1 row only + 1 row with 3 columns.

[2021-03-27 13:20] pankajkumarbij commented on #150
@mitalirs Wait I will confirm with you when you should start work on it.

Because after merged one backend PR related to the controller folder you can work for login token generation etc.

But you have to update the front end also after changing the backend code means after changing the code login and signup for students and employers both should work.

[2021-03-27 13:22] Ankita297 commented on #88
okay

[2021-03-27 13:54] pankajkumarbij commented on #147
@aishwarya0816 Now the PR related to Logout logic in the backend is merged you can now easily implement the logout part.

[2021-03-27 18:12] aishwarya0816 commented on #147
@pankajkumarbij okay! 👍
Is it possible to make this a level 3 issue?

[2021-03-27 19:24] sakshi-s opened #151 "Correction on homepage"
Presently, in the lists for Internship By Industry, Internship By Location, Internship By Stream and Online Trainings by Us, the first row has an oddly larger size than rest like:
![before2](https://user-images.githubusercontent.com/39264146/112732445-0517a480-8f60-11eb-8361-0a717e43a913.PNG)

I will make them even as follows:
![after2](https://user-images.githubusercontent.com/39264146/112732479-

[2021-03-28 13:53] mitalirs commented on #150
So I can start working once the controller folder related PR gets merged, right?

[2021-03-28 14:19] #142 closed

[2021-03-28 16:41] #88 closed

[2021-03-28 16:42] pankajkumarbij commented on #147
@aishwarya0816 After making the PR I will update labels according to your work.

[2021-03-28 16:45] pankajkumarbij commented on #151
@sakshi-s Go ahead and suggest if you are able to make the best home page UI.

You can create another issue related to the improvement of the home page UI if you can.

[2021-03-28 16:56] pankajkumarbij commented on #106
@krishna-y2000 Ok If you are not able to do it no problem we have not need this feature this time.
Thanks

[2021-03-28 16:58] pankajkumarbij commented on #92
@mani9896 Ok thanks for opening an issue.
I am closing this issue because you are not able to complete it and we also not need this feature at this time.

[2021-03-28 16:58] #92 closed

[2021-03-28 16:59] pankajkumarbij commented on #128
@Jassi10000 Any update?

[2021-03-28 17:03] pankajkumarbij commented on #150
@mitalirs Token is generating in when a student or employer login checks once in the controller backend that part is already done.

[2021-03-28 17:08] krishna-y2000 commented on #106
@pankajkumarbij hii,
Actually, i have texted few people to discuss on this problem because i want to complete this backend and frontend completely. If you want this urgently then I  can send the pr in 2 days of backend . Then you can raise issue for frontend .I hope it would be good idea . So, please reopen this i will send pr in 2 days

[2021-03-28 17:09] Jassi10000-zz commented on #128
Yeah 70% work done , actually I was preparing for an exam , that's why was engaged in that for 4 days
I will try to send the PR as soon as possible with best changes asked

[2021-03-28 17:16] pankajkumarbij commented on #106
@krishna-y2000 No problem If you are trying then try to give PR for both backend and frontend both.
I have not needed it urgently but other PR related to frontend and backend so you should pull all the changes first and implement accordingly.

Pull all the changes first from the original repo.

Take time and implement for both frontend and backend both.

[2021-03-28 17:19] pankajkumarbij commented on #128
@Jassi10000 No problem I have not need to do it urgently.

Take time to prepare for the exam first and after finish the exams complete the work.

Thanks

[2021-03-28 17:42] mitalirs commented on #150
No I am telling about the case when user is signing up for the first time and not the login route

[2021-03-28 17:44] pankajkumarbij commented on #150
@mitalirs Can you please explain why we need token when sign up.

[2021-03-28 17:49] mitalirs commented on #150
if a user visits the site for the first time he/she will use signup route, a token should get generated because that can also be treated as a session, if he/she wishes to logout during that session we will need the token to ensure that he/she gets logged out

[2021-03-28 18:19] Jassi10000-zz commented on #128
@pankajkumarbij Thanks brother  so much for understanding , but no issues am done with my preparation , will deliver the PR latest by tomorrow

[2021-03-29 04:44] WebVishal opened #155 "Automatic show popup after page load"
hey @pankajkumarbij I think an automatic popup should come up after some time when the page is loaded like related to any courses offered or  internship

can I work on this idea?

[2021-03-29 07:53] EkjotKaur opened #156 "Get started should disappear after login/signin"
Get started option takes to sign in option even if we are logged in.
This option is not needed after we have logged in.

Please assign me this issue @pankajkumarbij @asi309 @palashgdev @Vidit-jindal

[2021-03-29 07:59] asi309 commented on #156
What are the changes u suggest?
Please walk us through how u will solve this issue @EkjotKaur

[2021-03-29 08:06] asi309 commented on #156
@pankajkumarbij pls assign this issue to @EkjotKaur

[2021-03-29 08:07] pankajkumarbij commented on #150
@mitalirs Go ahead.

[2021-03-29 08:08] pankajkumarbij commented on #150
@mitalirs Password is already hashing.

[2021-03-29 08:09] pankajkumarbij commented on #155
@WebVishal We have not needed this feature this time.

Thanks for opening an issue.

[2021-03-29 08:09] #155 closed

[2021-03-29 08:15] pankajkumarbij commented on #156
@EkjotKaur At this time get started button is linked with the signup page because login-related work is remaining.

After login a student or an employer there should be show email and logout button etc.

That issue is already assigned to others.

If that work is done I will assign it to you.

[2021-03-29 09:11] mitalirs commented on #150
Password must be hashed before it gets saved to the database (if it is modified). While signup (when a user enters the password for the first time) or in case of profile update (if he/she wishes to change password). So I thought maybe we could create a separate function that does this task of hashing before saving it to the database

[2021-03-29 17:06] ShambhaviSharma0110 opened #157 "Adding a 404 page"
## Is your feature request related to a problem? Please describe.
For all the unknown routes that can be looked for I would like to make a 404 page as this is the most neglected page

## Describe the solution you'd like
For any unknown route this page would show up

## Additional context
NA

[2021-03-30 09:25] #128 closed

[2021-03-30 09:27] pankajkumarbij commented on #157
@ShambhaviSharma0110 Go ahead.

[2021-03-30 17:11] Subham142 opened #159 "Clearer instruction for local setup and running"
make changes in the readme  so that contributors can work and run the frontend and backend separately

## Screenshots for reference
![Screenshot (43)](https://user-images.githubusercontent.com/60570595/113028611-17385380-91a9-11eb-94c6-9bf00d142c29.png)

[2021-03-30 17:13] Subham142 commented on #159
@pankajkumarbij  please assign it to me and add the labels

[2021-03-30 17:47] #157 closed

[2021-03-30 17:52] pankajkumarbij commented on #159
@Subham142 Go ahead and add clear guidelines in contributing.MD file. (Don't change in Readme.MD file)

[2021-03-31 13:42] mitalirs commented on #150
@pankajkumarbij, so am I supposed to write the hash password function or not?

[2021-04-01 15:03] pankajkumarbij commented on #98
@srk224 Any update?

[2021-04-01 15:04] pankajkumarbij commented on #108
@krishnmohan19  any update??

[2021-04-01 15:04] pankajkumarbij commented on #147
@aishwarya0816 any update?

[2021-04-01 15:05] pankajkumarbij commented on #150
@mitalirs You can write the hash password function and make sure after changing the code signup and signing for students and employers both should work.

[2021-04-01 15:10] aishwarya0816 commented on #147
@pankajkumarbij working on it. I had an exam so this got delayed

[2021-04-01 15:22] pankajkumarbij commented on #147
@aishwarya0816 Ok prepare for the exam first and after that work on it.

[2021-04-02 05:53] srk224 commented on #98
@pankajkumarbij I am on it but its getting a bit difficult for me as I was not familiar with react at all. If you need it early I would say you can assign it to someone else who will be able to do it a bit early, or if you can give me some more time. I would be really thankful.

[2021-04-02 05:53] srk224 commented on #98
@pankajkumarbij Really sorry for all this delay

[2021-04-02 07:32] Jassi10000-zz commented on #98
@pankajkumarbij brother , can I help @srk224 with the problems he's facing , you can divide our points and in this issue can also be solved and both can also have a good learning experience

[2021-04-02 12:37] pankajkumarbij commented on #98
@srk224 ok you can take some more time.
@srk224 are you want to work with @Jassi10000?
@srk224 and @Jassi10000 you can both discuss somewhere and solve this issue.???

[2021-04-02 12:38] pankajkumarbij commented on #151
@sakshi-s any update?

[2021-04-02 14:36] sakshi-s commented on #151
I'll make the PR for my issue by tomorrow evening. I have my exams going on. For the issue of the new homepage, maybe you can open a new issue and someone else could take it up.

[2021-04-02 15:11] Jassi10000-zz commented on #98
Yeah , am ready
Waiting for @srk224 to reply
Meawhile @pankajkumarbij   Can you please assign  this issue to me as well along with @srk224

[2021-04-02 15:54] pankajkumarbij commented on #151
@sakshi-s ok prepare for the exam first and after that work on it.

[2021-04-02 15:55] pankajkumarbij commented on #98
@Jassi10000 wait for the reply of @srk224, after that I will assign you.

[2021-04-02 17:37] Jassi10000-zz commented on #98
Sure brother, no issues

[2021-04-03 04:03] himanshujaidka opened #161 "TimeStamps is missing"
In model file timestamps is missing.

[2021-04-03 06:15] srk224 commented on #98
@pankajkumarbij yeas if Jassi is experienced in react! I would love to work with him as I will also get to learn and clear my doubts.

[2021-04-03 09:26] Jassi10000-zz commented on #98
@srk224 Am not experienced with react but yeah clear with most of the things so would help you
@pankajkumarbij Now can you please assign me as well

[2021-04-03 15:17] #159 closed

[2021-04-03 15:20] pankajkumarbij commented on #98
@srk224 and @Jassi10000 both please complete this issue as soon as possible.

[2021-04-03 15:20] Jassi10000-zz commented on #98
@srk224 On my Github Profile , you can find my Linkedln Profile link , just dm me there

[2021-04-03 15:20] Jassi10000-zz commented on #98
Sure  @pankajkumarbij  , we will try to do it as soon as possible

[2021-04-03 15:21] pankajkumarbij commented on #161
@himanshujaidka we don't need this for now.
thanks for opening an issue.

[2021-04-03 15:21] #161 closed

[2021-04-03 17:28] EkjotKaur commented on #156
@pankajkumarbij  any update? When can I start working on it.

[2021-04-03 18:18] palashgupta98 commented on #156
Please proceed if you want to take the issue

[2021-04-03 18:22] EkjotKaur commented on #156
@palashgdev @pankajkumarbij please assign me this issue.

[2021-04-04 06:56] srk224 commented on #98
@Jassi10000 can you give me your discord username id? ill add and text you

[2021-04-04 06:57] Jassi10000 commented on #98
Jassi#8109

[2021-04-04 06:59] Jassi10000-zz commented on #98
@srk224  here's my discord username, just dm me , will connect to you soon   [ Jassi#8109  ]

On Sun, 4 Apr 2021, 12:27 Lucifer224, ***@***.***> wrote:

[2021-04-06 02:15] palashgupta98 commented on #156
@pankajkumarbij please assign the issue to @EkjotKaur .. i am not able to achieve the same i think due to the permission

[2021-04-06 11:30] pankajkumarbij commented on #156
@EkjotKaur Now I have assigned you, start working on it.

[2021-04-06 12:14] EkjotKaur commented on #156
Okay

[2021-04-06 14:12] EkjotKaur opened #163 "Employee Login, getting logged as student"
- [ ] There is an error in server side employee auth file
- [ ] When I Register as student and login as employee, it successfully login without any error.  The post request is being send to student login.

Please assign me this issue @pankajkumarbij @asi309 @palashgdev @Vidit-jindal.

[2021-04-06 14:34] EkjotKaur commented on #98
Can I wok on this issue  @pankajkumarbij @asi309 @palashgdev @Vidit-jindal

[2021-04-06 14:45] #156 closed

[2021-04-06 14:48] pankajkumarbij commented on #98
@EkjotKaur Other contributors are already working on it.
If they are not able to complete it then I will assign it to you.

[2021-04-06 14:49] pankajkumarbij commented on #163
@EkjotKaur Go ahead.

[2021-04-06 15:02] pankajkumarbij commented on #163
@EkjotKaur After merging your PR validation format is changed, I think you are installed jquery in react.
Please fix it in this PR.

![Screenshot from 2021-04-06 20-29-07](https://user-images.githubusercontent.com/59636849/113732305-1bb7bb80-9717-11eb-9bcb-83760688df1a.png)
![Screenshot from 2021-04-06 20-29-12](https://user-images.githubusercontent.com/59636849/113732327-1fe3d900-9717-11eb-81a5-7

[2021-04-06 15:03] EkjotKaur commented on #163
Okay

[2021-04-06 16:20] EkjotKaur opened #165 "Toast in place of alert"
- [ ] Alerts are not looking good instead I would like to use toasts.
- [ ] Signup doesn't redirects to login. I would do this too.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal please assign me this issue.

[2021-04-06 16:40] pankajkumarbij commented on #165
@EkjotKaur Go ahead.

[2021-04-06 16:43] #163 closed

[2021-04-06 17:00] EkjotKaur opened #166 "New internship/job form"
- [ ]   When the employee login in there should be a dropdown for creating new internship/job and a logout button
- [ ]  The new internship form should have fields:
        - location
        - company
        - description about the work
        - last date
        - duration
        - stipend
        - Techstack

@pankajkumarbij  Please assign me this issue.

[2021-04-06 17:44] Subham142 opened #167 "Remove Warnings"
## Describe the bug
 Lots of warnings are showing in the  console

![Screenshot (66)](https://user-images.githubusercontent.com/60570595/113755329-d2bf3180-972d-11eb-93b8-c74490823275.png)

[2021-04-06 17:45] Subham142 commented on #167
@pankajkumarbij  please assign it to me and add the labels

[2021-04-07 07:15] CMELAKKIA commented on #106
@pankajkumarbij  hi i would like to help @krishna-y2000  with the frontend part if required.

[2021-04-07 07:19] EkjotKaur opened #170 "Unauthenticated user should not be able access create Internship page and Authenticated user should not be able to login signup pages"
- [x] If the user is logged in then should not be able to access login signup page
- [x] If the user is not logged in then should not be able to access create internship page
- [x] Student should not be able to access create internship page this right should only be available to the employee.
- [x] As student and employee should have different rights then they should user type in user context.

@p

[2021-04-07 07:26] krishna-y2000 commented on #106
@CMELAKKIA thanks for your help but i have found the way to do this. Currently exams are going on so out for few days. I will definitely approach you if needed. Ping me at ```kyadav#6342``` on discord.

[2021-04-07 10:52] EkjotKaur opened #172 "Backend for posting new internship form"
- [x] creating schema for internships
- [x] creating post api for internship form
- [x] connecting it to the client side.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal please assign me this issue.

[2021-04-07 15:09] #165 closed

[2021-04-07 15:16] #166 closed

[2021-04-07 15:22] pankajkumarbij commented on #106
@CMELAKKIA Go ahead with @krishna-y2000

[2021-04-07 15:22] pankajkumarbij commented on #167
@Subham142 Go ahead.
Make sure after changes all the code each and everything should be work properly.

[2021-04-07 15:58] pankajkumarbij commented on #170
@EkjotKaur Go ahead.

[2021-04-07 16:00] pankajkumarbij commented on #172
@EkjotKaur Go ahead.

[2021-04-07 16:05] EkjotKaur opened #173 "Backend for posting new job form"
- [x] creating schema for job
- [x]  creating post api for job form
- [x]  connecting it to the client side.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal please assign me this issue.

[2021-04-08 08:03] himanshujaidka commented on #173
@EkjotKaur are you working on this?

[2021-04-08 08:06] EkjotKaur commented on #173
Yes

[2021-04-08 09:56] EkjotKaur opened #177 "Backend to get all the internships and jobs"
- [x] Backend to get all the internships and jobs.
- [x] Which could further be used as a templated to get internships and jobs according to locations, industry or stream.
- [x] Adding timestamp to the job and internship so that latest internship/job is appears on the top.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal please assign me this issue.

[2021-04-08 10:19] EkjotKaur opened #178 "Displaying Internships Page"
- [x] Displaying all the internships on a single page.
- [x] Connecting it to backend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal please assign me this issue.

[2021-04-08 13:00] #170 closed

[2021-04-08 13:02] #172 closed

[2021-04-08 13:05] #173 closed

[2021-04-08 13:08] #177 closed

[2021-04-08 13:09] pankajkumarbij commented on #178
@EkjotKaur Go ahead

[2021-04-08 13:11] EkjotKaur opened #180 "Displaying Jobs Page"
- [x]  Displaying all the jobs on a single page.
- [x]  Connecting it to backend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal please assign me this issue.

[2021-04-08 13:23] pankajkumarbij commented on #180
@EkjotKaur Go ahead

[2021-04-08 13:53] pankajkumarbij commented on #178
@EkjotKaur Add one more field in Create Job page ``` Start Job Month ```
And in create internship page add two more fields ``` Start Internship Month``` and ```End Internship Month```

With this PR add this work also and connect with backend both new fields.

Thanks.

[2021-04-08 13:54] #108 closed

[2021-04-08 15:20] Castella1313 opened #181 "Modifying animation"
Modifying animation

https://user-images.githubusercontent.com/53293156/114052613-cf51b480-98ab-11eb-9237-63708f08a319.mov

rather than scaling up the whole block, we can scale up the single entries inside it.

for example if the user hovers on Marketing, only that block should be scaled up!

[2021-04-08 15:21] Castella1313 commented on #181
@pankajkumarbij May I work on this? This will help in improving the user interface :)

[2021-04-08 16:11] pankajkumarbij commented on #181
@Castella1313 Go ahead.

[2021-04-08 16:55] krishna-y2000 commented on #106
@pankajkumarbij  He will not get the points in leaderboard here because 1PR = 1 Person point rule . As i told , if i will face any difficulty then i will approach him and tell him to make another issue for frontend then we will sync both . So , its no use to assign him .

My progress : made 60% of backend code and will complete fully in few days after my exams .Thanks.

[2021-04-08 17:52] EkjotKaur commented on #178
Okay, I'll.

[2021-04-08 19:02] Castella1313 opened #183 "I'm getting this error while setting up the repository"
PS: Both server and the client are running
![Screenshot 2021-04-09 at 12 31 13 AM](https://user-images.githubusercontent.com/53293156/114082086-f8ce0880-98ca-11eb-8f37-9c7418909452.png)

[2021-04-08 19:02] Castella1313 commented on #183
@pankajkumarbij What can be the possible reason for this error?

[2021-04-08 19:04] Castella1313 commented on #183
Is working fine in chrome

[2021-04-08 19:04] #183 closed

[2021-04-09 10:52] EkjotKaur opened #186 "Connecting all internship backend to frontend and dynamic values from DB in react"
- [x] Connecting all internships page with the backend
- [x] Adding values from database in place of static values

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-09 11:07] srk224 commented on #98
@pankajkumarbij
![image](https://user-images.githubusercontent.com/63584405/114171354-cca99a80-9951-11eb-90e7-80ce43f2f300.png)
should I proceed with this design?
and the input fields will be dynamic as you mentioned

[2021-04-09 11:22] EkjotKaur opened #188 "Connecting all Job frontend to backend and dynamic values from DB in react"
- [x]  Connecting all internships page with the backend
- [x]  Adding values from database in place of static values

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-09 12:39] #178 closed

[2021-04-09 12:41] #180 closed

[2021-04-09 13:16] pankajkumarbij commented on #98
@srk224 Design is fine you can add background quite lite color.

I said for dynamic means a student can add any no of educations by clicking on the plus or an add education button.
You can explore some internship websites where you can add many education that you want to add like school, college, etc.

[2021-04-09 13:17] pankajkumarbij commented on #106
ok

[2021-04-09 13:31] pankajkumarbij commented on #188
@EkjotKaur Go ahead

[2021-04-09 14:12] pankajkumarbij commented on #188
@EkjotKaur And at the end of every card there should be a button of Apply Now.

And you can open some issues for freshers jobs also same like internships pages create freshers job, connect with backend and show all the jobs for freshers on a page.

And add one more field for jobs page ```Year of Experience``` need for the job.

There are no experience fields for freshers job.

Add jobs and interns

[2021-04-09 14:13] #181 closed

[2021-04-09 14:36] #186 closed

[2021-04-09 15:13] #188 closed

[2021-04-09 15:49] EkjotKaur opened #193 "Frontend for create new fresher's job form"
- [x] Creating a form for fresher's job.
- [x] Adding experience field in new job form and connecting it to the backend.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-09 18:42] srk224 commented on #98
@pankajkumarbij

https://user-images.githubusercontent.com/63584405/114226376-1f567700-9991-11eb-89b5-4079e97e42b9.mp4
This is the functionality I have Built....and I guess this is what you wanted for other input fields in education , skills etc.. I would add this in that too. I just wanted to show you before proceeding! And don't worry ill improve the UI of the whole page..I just wanted to show y

[2021-04-09 19:56] himanshujaidka opened #194 "Backend: need to clean category.js route"
need to transfer the code from the category.js route to controller folder, @pankajkumarbij pls assign this to me

[2021-04-10 06:52] EkjotKaur opened #196 "Add all internships and job link to the navbar and make it reponsive"
- [x] Make navbar responsive
- [x] Add all internships and job link to the navbar

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-10 06:53] EkjotKaur opened #197 "Backend to the fresher's Job"
- [x] Adding backend for the fresher's job form
- [x] Connecting it to the frontend.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-10 06:55] EkjotKaur opened #198 "Creating All Fresher's Job page"
- [x] Creating all jobs freshers page on the frontend
- [x] Connecting it to the backend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-10 06:56] EkjotKaur opened #199 "Backend for All Fresher's Job Page"
- [x] Creating backend for All Fresher's Job Page
- [x] Creating a new schema for it.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-10 07:21] mitalirs opened #200 "Backend for Update profile option for an employer"
## Backend logic for Update profile for employer
Currently, the project does not have any profile update option for an employer
I will create a patch request for the same (working on the backend part)
@pankajkumarbij can you please assign this issue to me?

[2021-04-10 07:27] mitalirs opened #201 "Filters while looking for jobs and internships (backend)"
## Using filters while looking for jobs and internships
A student is currently not allowed to search for jobs/internships with filters

The backend logic I'll add will enable a student to look for jobs/internships using filters:
1. location
2. duration
3. tech stack
4. company name
5. start date

@pankajkumarbij I will work on the backend part of this, could you please assign this issue to me?

[2021-04-10 09:27] EkjotKaur opened #206 "Edit Internship Form for the post internship by the employee"
- [x] Posted internship could also to edited by the employee
- [x] A dialogue box would open and could only edit and add some fields

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-10 10:33] EkjotKaur opened #207 "Edit Internship backend"
- [x] Creating API for editing internship
- [x] Connecting it to the frontend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-10 12:56] pankajkumarbij commented on #98
@srk224 Yes I want this functionality.
It is ok, you can improve UI and make this functionality for other required fields.

[2021-04-10 13:04] #193 closed

[2021-04-10 13:06] #197 closed

[2021-04-10 13:07] #196 closed

[2021-04-10 13:09] #199 closed

[2021-04-10 13:10] #198 closed

[2021-04-10 13:37] pankajkumarbij commented on #201
@mitalirs Go ahead

[2021-04-10 13:38] pankajkumarbij commented on #206
@EkjotKaur Please pull all the changes from the repo because I have updated something.

[2021-04-10 13:38] pankajkumarbij commented on #200
@mitalirs Go ahead

[2021-04-10 13:39] pankajkumarbij commented on #194
@himanshujaidka thanks for opening an issue but now we don't need the category backend because we use a different approach for it.

[2021-04-10 13:39] #194 closed

[2021-04-10 13:41] #150 closed

[2021-04-11 05:58] Jassi10000-zz commented on #98
@pankajkumarbij In what terms we should change the UI , in terms of colors used or the alignment of input boxes in the form

[2021-04-11 06:04] srk224 commented on #98
I will do it! I have the idea in my mind

[2021-04-11 11:05] #167 closed

[2021-04-11 13:01] EkjotKaur commented on #206
Okay

[2021-04-11 15:47] #206 closed

[2021-04-11 16:31] EkjotKaur opened #212 "Getting data to update internship form"
- [x] The update internship form as empty values
- [x] getting the previous data from the backend
- [x] setting initial values of the form as the previous values

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-11 17:03] #207 closed

[2021-04-12 02:22] EkjotKaur opened #215 "Edit Job by Employee form"
- [ ] Posted Job could be edited by the employee who has created the Job.
- [ ] New Form for Edit Internship

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-12 02:24] EkjotKaur opened #216 "Edit Job Backend and connect to frontend"
- [x]  Creating API for editing job
- [x]  Connecting it to the job form

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-12 02:27] EkjotKaur opened #217 "Edit Fresher's Job by Employee form"
- [x] Posted Fresher's Job could be edited by the employee who has created the Fresher's Job.
- [x] New Form for Edit Fresher's Job.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-12 02:28] EkjotKaur opened #218 "Edit Fresher's Job Backend and connect to frontend"
- [x] Creating API for editing job
- [x]  Connecting it to the fresher's job form

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-12 02:31] EkjotKaur opened #219 "Deleting an internship [Backend + Frontend]"
- [x] API for deleting internship
- [x] Drop down menu for edit and delete who be shown only to the creator of the internship post
- [x] Connecting backend to frontend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-12 13:52] #212 closed

[2021-04-12 13:56] #200 closed

[2021-04-12 14:53] pankajkumarbij commented on #216
@EkjotKaur Some errors are there after merging some PR please check and let me know.

![Screenshot from 2021-04-12 19-41-00](https://user-images.githubusercontent.com/59636849/114413342-87909d00-9bcb-11eb-8788-0fec6a2d192e.png)

![Screenshot from 2021-04-12 19-40-24](https://user-images.githubusercontent.com/59636849/114413338-865f7000-9bcb-11eb-80dc-93b3521ff6d6.png)

![Screenshot from 2021-04-12

[2021-04-12 15:23] gnikita432 opened #221 "some images needs margin in mobile view(frontend)"
## Describe the bug
A clear and concise description of what the bug is.
In mobile view the some images needs margin and should be aligned at center so that the columns will look seprate
![easyjobintern](https://user-images.githubusercontent.com/61223163/114419389-00debe80-9bd1-11eb-92bb-63291f4260c3.PNG)

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear an

[2021-04-12 15:27] pankajkumarbij commented on #221
@gnikita432 We don't need this home page actually this home page is temporary we will improve the home page differently after all other functionality will complete.

[2021-04-12 15:27] #221 closed

[2021-04-12 15:28] pankajkumarbij commented on #221
Thanks for opening an issue.

[2021-04-12 15:29] gnikita432 opened #222 "hover effect on icons(frontend)"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
the icons below contact with us should have some hover effect
![easyjobintern1](https://user-images.githubusercontent.com/61223163/114420444-f40e9a80-9bd1-11eb-8b1c-7250e99c0a20.PNG)

## Describe the solution you'd like
A clear and concise d

[2021-04-12 15:33] pankajkumarbij commented on #222
@gnikita432 Go ahead.

[2021-04-12 19:33] srk224 commented on #98
@pankajkumarbij

https://user-images.githubusercontent.com/63584405/114450090-34324500-9bf3-11eb-9d01-fc0f887961ed.mp4

I have completed it. You can take a look and tell if you have any changes. The UI also looks good and it matches with all the other pages too.!
and **can you please unassign @Jassi10000 as I didn't needed any help from him and I did everything on my own.**

[2021-04-13 06:05] EkjotKaur commented on #216
Okay, I'll try to fix.

[2021-04-13 10:30] #216 closed

[2021-04-13 10:37] pankajkumarbij commented on #98
@srk224 Yeah  Nice Work.
Please make the education also dynamic + and - Buttons.

[2021-04-13 10:38] pankajkumarbij commented on #98
@srk224 Check what fields required for the education that all types of education he/she can enter.

[2021-04-13 11:02] srk224 commented on #98
@pankajkumarbij  okay! Ill make the education part also dynamic.
Ill see from the linkedIn (education part) to get an idea of what input fields are required.

[2021-04-13 11:12] pankajkumarbij commented on #98
@srk224
ok

[2021-04-13 13:00] mitalirs opened #226 "search for a particular job/ fresher job (employer backend)"
This will help a recruiter to search for a particular job/fresher job (only the ones posted by him/her).
They will be able to search by the following parameters:
1. job id
2. tech stack
3. salary
4. start date

Adding this will help the recruiter to keep a track of his/her posts.
These routes will need the employer to be authenticated, so auth_employer middleware will be used.

[2021-04-13 13:02] mitalirs opened #227 "search for a particular internship (employer backend)"
This will help a recruiter to search for a particular internship (only the ones posted by him/her).
They will be able to search by the following parameters:
1. duration
2. tech stack
3. stipend
4. start date

Adding this will help the recruiter to keep a track of his/her posts.
This route will need the employer to be authenticated, so auth_employer middleware will be used.

[2021-04-13 13:35] himanshujaidka opened #229 "Required field length should be greater than 8"
![Screenshot (207)](https://user-images.githubusercontent.com/58654018/114560997-cd606a80-9c8a-11eb-8542-88941b487a16.png)
It is mentioned that the required password length should be greater than 8 but, when password=8, the warning get closed, so it should be password>8 or we should change the warning as "Required field length should be greater than 7"
![Screenshot (208)](https://user-images.githu

[2021-04-13 14:07] #217 closed

[2021-04-13 14:08] #218 closed

[2021-04-13 14:10] #222 closed

[2021-04-13 14:13] pankajkumarbij commented on #226
@mitalirs Go ahead.

[2021-04-13 14:14] pankajkumarbij commented on #227
@mitalirs Go ahead

[2021-04-13 14:15] pankajkumarbij commented on #229
@himanshujaidka Go ahead.

[2021-04-13 15:06] pankajkumarbij commented on #219
@EkjotKaur when I updating the jobs and fresher's job then existing data is not fetching in that forms.
please open an issue and solve it.

you can open issues related to deleting jobs and freshers jobs also.

And some backend related to the filter and searching a job or internship is ready you can check the backend and open issues if you are interested to work on that part.

you can make a dashbo

[2021-04-13 15:35] EkjotKaur opened #232 "Deleting job [Backend + Frontend]"
- [x]  API for deleting job
- [x]  Drop down menu for edit and delete who be shown only to the creator of the jobpost
- [x]  Connecting backend to frontend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-13 15:36] EkjotKaur opened #233 "Deleting an freshers job [Backend + Frontend]"
- [x]  API for deleting freshers job
- [x]  Drop down menu for edit and delete who be shown only to the creator of the freshers job post
- [x]  Connecting backend to frontend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-13 15:39] EkjotKaur opened #234 "Fetching data from backend to frontend in job and freshers job update form"
- [x]  The update job and freshers form as empty values
- [x]  getting the previous data from the backend
- [x]  setting initial values of the form as the previous values

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-13 15:57] #219 closed

[2021-04-13 16:55] #232 closed

[2021-04-13 16:56] #233 closed

[2021-04-13 17:19] kartikpuri99 opened #237 "Adding a Loading Spinner till fetching of data for internships/jobs/fresher job is not complete"
## Is your feature request related to a problem? Please describe.
Right now there is no loading spinner when a person click on all internship/jobs/freshers job.When we are fetching data from the database there is blank screen.

## Describe the solution you'd like
I want to add the loading spinner in all the three cases .Please assign this issue to me.

[2021-04-13 18:24] srk224 commented on #98
@pankajkumarbij  I have made the education part dynamic.
what should I do next?
Should I create a PR?

[2021-04-14 05:25] Ankita297 commented on #106
@pankajkumarbij  Can we use firebase for this ?

[2021-04-14 05:25] Ankita297 commented on #106
If yes then  i want to work on this ?

[2021-04-14 15:27] #229 closed

[2021-04-14 15:31] pankajkumarbij commented on #98
ok you can make a PR.

[2021-04-14 15:34] pankajkumarbij commented on #237
@kartikpuri99 Go ahead and make sure After changes your code before making a PR please check that all functionality should work.

[2021-04-15 05:10] mitalirs opened #243 "Adding vacancy/job openings + position/role"
### Adding the number of vacancies/openings
Currently, there is no' available openings' field on the internship/job/fresher job model
I will add the 'vacancy' field to these 3 models
This will give the applicant an idea about available openings for a job

### Adding the position/role
Currently, there is no 'position'/'role' field on the internship/job/fresher job model
I will add the 'role' field

[2021-04-15 07:57] srk224 commented on #98
@pankajkumarbij I have created the PR. You can take a look

[2021-04-15 13:22] #227 closed

[2021-04-15 13:25] Sushi22 opened #246 "Write unit tests for backend."
## Is your feature request related to a problem? Please describe.
No

## Describe the solution you'd like
Adding unit tests for each component in the backend .

## Additional context
Documenting the API endpoints using swagger.

[2021-04-15 13:26] Sushi22 commented on #246
Hello I am participant under GSSoC'21.
@pankajkumarbij  can you please assign this issue to me ?
I would like to  work on this :)

[2021-04-15 13:32] #237 closed

[2021-04-15 13:35] pankajkumarbij commented on #243
@mitalirs Add field in frontend and backend both.

[2021-04-15 13:37] pankajkumarbij commented on #246
@Sushi22 Thanks for opening an issue but at this time we do not need this. first we want to complete all the features that need for this project.

[2021-04-15 13:37] #246 closed

[2021-04-15 13:58] #226 closed

[2021-04-15 14:04] pankajkumarbij commented on #98
@Jassi10000 please comment on below the PR so I can able to assign you.

[2021-04-15 14:05] srk224 commented on #98
@pankajkumarbij But I did all the work ! he didnt
I should get the gssoc points for this

[2021-04-15 14:09] pankajkumarbij commented on #98
ok ok, I am unassigning him.

[2021-04-15 14:10] #201 closed

[2021-04-15 16:27] EkjotKaur opened #248 "Found some syntax error in backend"
I found some syntax errors in backend.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-15 16:40] EkjotKaur opened #250 "Backend for get Internship by location"
API for Getting Internships based to location for the "Get Internships By Location Page"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-15 16:43] #248 closed

[2021-04-15 16:43] #234 closed

[2021-04-15 16:45] pankajkumarbij commented on #250
look at some filter-related backend code what he has done is useful for you or not and how we can filter internships and all.

Some search and filter-related PR is already merged.

Are you make a frontend for that page also or the only the backend?

[2021-04-15 16:48] pankajkumarbij commented on #147
@aishwarya0816 Any update?

[2021-04-15 16:49] pankajkumarbij commented on #151
@sakshi-s Any update and we do not need this home page actually we need a different and better home page so I don't want to work on this issue but If you want to do work then you can make a PR.

[2021-04-15 16:49] EkjotKaur commented on #250
Backend and frontend both.

[2021-04-15 16:50] pankajkumarbij commented on #250
@EkjotKaur ok Go ahead and open issue for front end also whenever you want to work.

[2021-04-15 16:51] EkjotKaur commented on #250
The code right now shows those Internships jobs that are selected by the the user as per stipend states locations and all.

I want to make it for all the internships and jobs under one location

[2021-04-16 08:39] mitalirs commented on #243
@pankajkumarbij, for the frontend, I have to make changes only to that part of the code when an employer creates a new job/internship, right?
ie src/Components/CreateNew (all 3 files in this folder)

[2021-04-16 09:06] Jassi10000-zz commented on #98
@srk224  Why are you soo panicking , you can take all the points not a big deal , I was only to guide you , but due to high fever from last few days , I was not able to contact you

Anyways am glad you yourself achieved that , good luck boy , keep doing good stuff 😊

[2021-04-16 09:08] Jassi10000-zz commented on #98
Thanks @pankajkumarbij  for asking me out for this ,
but I was not able to connect with @srk224 due to my weak health ,  anyways you can unassign me and give him the required points

[2021-04-16 09:11] srk224 commented on #98
@Jassi10000 Oh I am sorry! Take care of yourself and get well soon ! Thanks a lot for your kind wishes.

[2021-04-16 12:49] himanshujaidka opened #251 "minor bug"
![Screenshot (213)](https://user-images.githubusercontent.com/58654018/115026266-ea41ab80-9edf-11eb-9f9b-12490f325354.png)
the message should be passwordConfirmation field should not be empty or password doesn't  match,
the existing message will confuse the new contributors

[2021-04-16 15:42] pankajkumarbij commented on #250
@EkjotKaur ok, you can write another backend things for that.

[2021-04-16 15:46] pankajkumarbij commented on #243
@mitalirs yes you have to add fields in these forms at the time of crate a new job/internship etc. and change the backend part accordingly.

[2021-04-16 15:49] #251 closed

[2021-04-16 17:27] himanshujaidka opened #253 "backend: validators"
@pankajkumarbij I think we should add the validators folder to our backend, I would like to add validators for the student. After validators, our code is easy to understand.

[2021-04-17 14:56] EkjotKaur opened #255 "Frontend of get Internships by location"
- [x] Created page for get internship by location eg. for Delhi, Mumbai, India.
- [x] Connected to backend
- [x] Dynamic URL for this page

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-17 15:06] EkjotKaur opened #258 "Industry and Stream option"
- [x] There should be industry and stream option in the internship form
- [x] It should be a dropdown menu
- [x] Doing backend for this
- [x] Connecting it to the backend

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-18 08:30] mitalirs opened #259 "bookmark internship (backend)"
## Bookmark internship
- This route can be used to bookmark an internship for later review (can be thought of as something similar to 'watch later' on a streaming app).
- While searching for internships a student shortlists a few of them and applies to one or more from the shortlisted ones, bookmarking them will save his/her efforts as he/she can view all the bookmarked internships. in one go
- Th

[2021-04-18 08:34] mitalirs opened #260 "bookmark job/fresherJob (backend)"
## Bookmark job/fresherJob
- This route can be used to bookmark a job/fresherJob for later review (can be thought of as something similar to 'watch later' on a streaming app).
- While searching for jobs a student shortlists a few of them and applies to one or more from the shortlisted ones, bookmarking them will save his/her efforts as he/she can view all the bookmarked jobs in one go
- This will

[2021-04-20 02:53] krishna-y2000 commented on #106
@pankajkumarbij hii,
My progress : I have completed the verification for student part successfully . Now i am doing for employer . It will be completed soon.

[2021-04-22 16:02] Ankita297 opened #262 "github action to add autolabel of gssoc on PR and issues"
## Is your feature request related to a problem? Please describe.
github action to add autolabel of gssoc on PR and issues

## Describe the solution you'd like
I want to add github action for that .
## Additional context
Add any other context about the feature request here.

[2021-04-22 16:57] Ankita297 commented on #262
@pankajkumarbij can i work on this ?

[2021-04-23 04:52] #250 closed

[2021-04-23 05:02] #255 closed

[2021-04-23 05:10] pankajkumarbij commented on #259
@mitalirs are you done frontend also for this part?

[2021-04-23 05:16] pankajkumarbij commented on #253
@himanshujaidka we are add the features only at this time we will  improve code format later.

Thanks for opening an issue.

[2021-04-23 05:16] #253 closed

[2021-04-23 05:17] pankajkumarbij commented on #262
@Ankita297 Go ahead.

[2021-04-23 06:08] mitalirs commented on #259
@pankajkumarbij, actually I wish to work on the backend logic only particularly

[2021-04-23 08:58] Ankita297 opened #263 "Add a welcome bot"
## Is your feature request related to a problem? Please describe.
Add a github action to greet contributor on hiss/her first issue and PR open .

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-04-23 08:58] Ankita297 commented on #263
@pankajkumarbij  Can i work on this ?

[2021-04-23 09:07] Ankita297 opened #265 "auto close issue if corresponding PR got merged ."
## Is your feature request related to a problem? Please describe.
github action to auto close issue if corresponding PR got merged .
## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-04-23 09:07] Ankita297 commented on #265
@pankajkumarbij  can i work on this ?

[2021-04-23 10:55] pankajkumarbij commented on #259
@mitalirs Go ahead and give clear description on PR how to use it on frontend.

[2021-04-23 10:57] pankajkumarbij commented on #265
@Ankita297 this feature is working already when an issue is linked with that PR.

[2021-04-23 10:58] #243 closed

[2021-04-23 10:59] #262 closed

[2021-04-23 11:22] mitalirs commented on #259
Sure, thank you for assigning!

[2021-04-23 13:06] Ankita297 commented on #265
@pankajkumarbij  as you can see if contributor makes PR .

Then PR template does not appear .

![Home_external tutor by akshay1027 · Pull Request #122 · Namanl2001_MERN-Gurujii-dev - Google Chrome 23-04-2021 18_32_53](https://user-images.githubusercontent.com/67833077/115875165-8e889c80-a462-11eb-900e-0b1684322219.png)

![Home_external tutor by akshay1027 · Pull Request #122 · Namanl2001_MERN-Guru

[2021-04-23 13:06] Ankita297 commented on #265
So if you contributor uses wrong keyword the issue will not be closed .

[2021-04-23 17:06] EkjotKaur opened #267 "Backend for get Internship by industry"
API for Getting Internships based to location for the "Get Internships By industry Page"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-23 17:06] EkjotKaur opened #268 "Backend for get Internship by stream"
API for Getting Internships based to location for the "Get Internships By stream Page"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-23 17:10] EkjotKaur opened #269 "Frontend of get Internships by industry"
- [x] Created page for all internships by industry
- [x] Connected it to the backend
- [x] Dynamic URL Rendering of pages

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-23 17:11] EkjotKaur opened #270 "Frontend of get Internships by Stream"
- [x]  Created page for all internships by industry
- [x]  Connected it to the backend
- [x]  Dynamic URL Rendering of pages

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-04-24 05:10] #106 closed

[2021-04-24 05:15] #258 closed

[2021-04-24 05:16] #267 closed

[2021-04-24 05:17] #268 closed

[2021-04-24 05:18] #263 closed

[2021-04-24 05:19] #151 closed

[2021-04-24 05:20] #147 closed

[2021-04-24 09:20] codebuzzer01 opened #275 "Entire UI/UX design"
## Is your feature request related to a problem? Please describe.
I would like to enhance the UI/UX features of whole website (for ex- Navbar is not sticky, footer should not be opaque etc)

## Describe the solution you'd like
Implement UI/UX skills to change the entire look of website.

[2021-04-24 09:21] codebuzzer01 commented on #275
@pankajkumarbij should I work on it?

[2021-04-24 09:24] #259 closed

[2021-04-24 09:27] pankajkumarbij commented on #275
@codebuzzer01 Go ahead and check every page of the web site, some pages like job/internship pages are looking after login only and first need to create internships and jobs after login as a employer so you can see all the functionality.

[2021-04-24 11:06] #260 closed

[2021-04-24 11:07] mitalirs opened #277 "fetch bookmarked Internships (backend)"
## fetch bookmarked Internships
Currently, there is no way a user can fetch all the internships he/she has bookmarked

## Solution
A request that will fetch the user all the internships he/she has bookmarked. This will requires the student to be authenticated
I wish to work on the backend logic of this

@pankajkumarbij can you please assign this issue to me?

[2021-04-24 11:08] mitalirs opened #278 "fetch bookmarked jobs/fresher jobs (backend)"
## fetch bookmarked jobs/fresher jobs
Currently, there is no way a user can fetch all the jobs he/she has bookmarked

## Solution
A request that will fetch the user all the job he/she has bookmarked. This will requires the student to be authenticated
I wish to work on the backend logic of this

@pankajkumarbij can you please assign this issue to me?

[2021-04-24 13:28] codebuzzer01 commented on #275
Hey @pankajkumarbij  will you please elaborate what you said above?

[2021-04-24 15:10] pankajkumarbij commented on #275
Some pages like view all jobs/internship etc pages are only showing after login.

After login as a employer and create some jobs/internship so you can able to see the list of jobs/internships.

You can explore the website more.

[2021-04-25 03:25] #277 closed

[2021-04-25 05:36] Ankita297 opened #280 "UI of 404 page"
## Is your feature request related to a problem? Please describe.
Current ui is very simple I  want to enhance it .
## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context about the feature request here.

[2021-04-25 05:37] Ankita297 commented on #280
@pankajkumarbij Can i work on this ?

[2021-04-25 09:08] #278 closed

[2021-04-25 09:10] pankajkumarbij commented on #280
@Ankita297 One issue is already opend for improve entire UI design of website.

SO this part is cover in that issue.

If this part is not done with that PR then you can work in future.

[2021-04-26 07:42] mitalirs opened #283 "delete student profile (backend)"
## delete student profile (backend)
Currently, there is no route for a student to delete their profile

## Solution
Creating a delete student profile route. This will delete that particular student's entry from the collection. Also, the student's id will be removed from the bookmarkedBy fields of internship/job/fresherJob if it is present

[2021-04-26 07:45] mitalirs opened #284 "delete employer profile (backend)"
## delete employer profile (backend)
Currently, there is no route for an employer to delete their profile

## Solution
Creating a delete employer profile route. This will delete that particular employer's entry from the collection. Also, all the internships/jobs/fresherJobs created by that employer will be deleted

[2021-05-03 10:14] Vishal1003 opened #285 "Refactoring Category route"
The logic part of category route needs be added in controllers (Like other routes) in the backend.

[2021-05-03 10:17] Vishal1003 commented on #285
@pankajkumarbij Can I work on this?

[2021-05-03 10:19] pankajkumarbij commented on #285
@Vishal1003 we have not need the categories part at this time we will doing it differently.

SO we need to remove it.

Thanks for opening an issue.

[2021-05-03 10:19] #285 closed

[2021-05-03 10:20] #265 closed

[2021-05-06 10:31] Vishruta-Patil opened #287 "Frontend: Footer"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to work in footer part.
## Describe the solution you'd like
A clear and concise description of what you want to happen.
I want to change the footer's frontend part. I will create cutomize footer
## Additional context
Add any other con

[2021-05-06 10:33] Vishruta-Patil commented on #287
@Vidit-jindal can you assign this issue as a GSSoC participant

[2021-05-06 10:34] #283 closed

[2021-05-06 10:36] pankajkumarbij commented on #287
@Vishruta-Patil I think footer is fine as of now.
What are you going to change?

[2021-05-06 10:45] Vishruta-Patil commented on #287
@pankajkumarbij I can add newsletter subscription button where users can subscribe so that will not leave any updates

[2021-05-06 10:51] pankajkumarbij commented on #287
@Vishruta-Patil Go ahead and make sure footer should remain responsive.

[2021-05-06 10:52] pankajkumarbij commented on #287
@Vishruta-Patil are you going to add only a input box and button in front end part.
Right?

[2021-05-10 15:06] #287 closed

[2021-05-11 06:08] #269 closed

[2021-05-11 06:09] #270 closed

[2021-05-11 06:10] pankajkumarbij commented on #275
@codebuzzer01 are you working on this issue?

[2021-05-11 06:10] pankajkumarbij commented on #284
@mitalirs are you working on this issue?

[2021-05-11 18:30] mitalirs commented on #284
Yes, Actually I am having my exams, I will create a PR as soon as possible. Thank you.

[2021-05-12 03:00] pankajkumarbij commented on #284
ok Focus on your exam first after that you can continue.

[2021-05-12 05:20] pankajkumarbij opened #291 "Login for Employer is not Working"
Login for employer is not working it giving the msg Email and password Invalid every time.

[2021-05-14 10:17] #284 closed

[2021-05-18 19:28] EkjotKaur opened #293 "Job and Fresher's Job form does not have stream and industry field."
- [x] Add stream and industry to job form.
- [x] Proper Validation and error handling.
- [x] Add stream and industry to Fresher's Job form.
- [x] Proper Validation and error handling

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-18 19:31] EkjotKaur opened #294 "Backend for Internships By location under the dropdown of internships"
- [x] Getting Internships by location.
- [x] They should be grouped by location.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-18 19:32] EkjotKaur opened #295 "Backend for Internships By stream under the dropdown of Internship"
- [ ]  Getting Internships by stream.
- [ ]  They should be grouped by stream.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-18 19:35] EkjotKaur opened #296 "Adding fresher's Job and Job new stream and industry field on the backend"
- [x] Getting Job's stream and industry field on the backend
- [x] Saving it into the database
- [x] Getting Fresher's Job stream and industry field on the backend
- [x] Saving it into the database.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-18 19:36] EkjotKaur opened #297 "Backend for Internships By industry under the dropdown of Internship"
- [x]  Getting Internships by industry.
- [x]  They should be grouped by industry.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-18 19:39] EkjotKaur opened #298 "Frontend for Get Internships By location"
- [x] Creating new page for Internship by location under the drop down
- [x] Designing it
- [x] The page will contain Internships grouped by their location
- [x] Connecting to backend
- [x] Connecting to navbar

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-19 08:17] #293 closed

[2021-05-19 08:19] #296 closed

[2021-05-19 08:20] #294 closed

[2021-05-19 08:22] #295 closed

[2021-05-19 08:24] #297 closed

[2021-05-19 13:43] mitalirs opened #304 "search bookmarked internship (backend)"
## Is your feature request related to a problem? Please describe.
currently, a user has no facility to search for a bookmarked internship based on various parameters (like id, role, vacancy, etc)

## Describe the solution you'd like
a route that allows user to search for internships from the list of bookmarked Internships

@pankajkumarbij, could you please assign this issue to me?

[2021-05-19 13:44] mitalirs opened #305 "search bookmarked job (backend)"
## Is your feature request related to a problem? Please describe.
currently, a user has no facility to search for a bookmarked job/fresher job based on various parameters (like id, role, vacancy, etc)

## Describe the solution you'd like
a route that allows user to search for jobs/fresher jobs from the list of bookmarked jobs/fresher jobs

@pankajkumarbij, could you please assign this issue to me?

[2021-05-19 14:30] pankajkumarbij commented on #304
@mitalirs Go ahead

[2021-05-19 14:31] pankajkumarbij commented on #305
@mitalirs make it for job and freshers job both

[2021-05-19 14:31] #291 closed

[2021-05-20 07:53] EkjotKaur opened #308 "Backend for Internships By location under the dropdown of Job"
- [ ] Getting Job by location.
- [ ]  They should be grouped by location.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-20 07:54] EkjotKaur opened #309 "Backend for Internships By stream under the dropdown of Job"
- [ ] Getting Job by stream.
- [ ]  They should be grouped by stream.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-20 07:55] EkjotKaur opened #310 "Backend for Internships By industry under the dropdown of Job"
- [ ]  Getting Job by industry.
- [ ]  They should be grouped by industry.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-20 08:21] EkjotKaur opened #314 "Backend for Internships By location under the dropdown of Fresher's Job"
- [ ] Getting Fresher's by location.
- [ ]  They should be grouped by location.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-20 08:21] EkjotKaur opened #315 "Backend for Internships By stream under the dropdown of Fresher's Job"
- [ ] 1.  Getting Fresher's by stream.
- [ ] 2.  They should be grouped by stream.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-20 08:22] EkjotKaur opened #316 "Backend for Internships By industry under the dropdown of Fresher's Job"
- [ ]  1. Getting Fresher's Job by industry.
- [ ]  2. They should be grouped by industry.

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-20 08:46] EkjotKaur opened #320 "Frontend for Get Internships By stream"
- [x]  Creating new page for Internship by stream under the drop down
- [x]  Designing it
- [x]  The page will contain Internships grouped by their stream
- [x]  Connecting to backend
- [x]  Connecting to navbar

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-21 06:00] #304 closed

[2021-05-21 06:03] #308 closed

[2021-05-21 06:04] #309 closed

[2021-05-21 06:04] #310 closed

[2021-05-21 06:05] #314 closed

[2021-05-21 06:06] #315 closed

[2021-05-21 06:07] #316 closed

[2021-05-21 06:14] #305 closed

[2021-05-21 06:15] #275 closed

[2021-05-21 07:53] Ankita297 commented on #280
Can i work on this now  @pankajkumarbij ?

[2021-05-21 08:02] pankajkumarbij commented on #280
@Ankita297 Go ahead

[2021-05-21 08:25] kartikpuri99 opened #321 "Frontend and backend to get Job and fresherjob group by industry"
## Is your feature request related to a problem? Please describe.
I want to write the frontend and backend code to get a job group by industry. Please assign this issue to me @pankajkumarbij

[2021-05-21 10:29] pankajkumarbij commented on #321
@kartikpuri99 this feature is already there in the project.

[2021-05-21 10:36] kartikpuri99 commented on #321
@pankajkumarbij  It is for internship i donot see it for jobs and fresherjobs

[2021-05-21 14:35] EkjotKaur opened #324 "Frontend for Get Internships By industry"
- [x]  Creating new page for Internship by industry under the drop down
- [x]  Designing it
- [x]  The page will contain Internships grouped by their industry
- [x]  Connecting to backend
- [x]  Connecting to navbar

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-21 17:19] mitalirs opened #326 "Application model (backend)"
## Is your feature request related to a problem? Please describe.
Currently, there is no application model, creating one will enable students to apply for a position to get shortlisted (not for an interview directly) for a basic entry-level test

## Describe the solution you'd like
Creating application model with fields:
1. applyingFor:  string field (job/fresher job/internship)
2. appliedJob: ref

[2021-05-21 17:32] mitalirs opened #327 "apply for a job/fresherJob/internship route (backend)"
## Is your feature request related to a problem? Please describe.
There is no route available for a student to apply for a position

## Describe the solution you'd like
Create a post route, the fields in the req body will be:

applyingFor (job/internship),
applicationForId (id of job/internship),
applicantId (id of student whoever's applying),
applicantSendNote,
status (will be set to 'pending' by

[2021-05-21 17:39] pankajkumarbij commented on #321
@kartikpuri99 it is available in the backend you can see it, it's not in the frontend.

[2021-05-21 17:42] pankajkumarbij commented on #321
@kartikpuri99 Go ahead and make a similar design as an internship on the home page for job and freshers job that backend is already available for all.

[2021-05-21 17:45] #298 closed

[2021-05-21 17:47] #320 closed

[2021-05-21 17:48] #324 closed

[2021-05-21 17:49] mitalirs opened #328 "approve/reject applicant route (backend)"
## Is your feature request related to a problem? Please describe.
currently, there is no route that enables the employer to approve/reject an application

## Describe the solution you'd like
create a post route that will be sent with the following req body fields:
1. status: approve/reject,
2. depending on that applicantReceiveNote will be set

I would like to work on this issue

[2021-05-21 17:55] kartikpuri99 commented on #321
okay i will do it for fresher job and job

[2021-05-22 16:33] mitalirs opened #331 "fetch pending applications (applicant) backend"
## Is your feature request related to a problem? Please describe.
Currently, there is no way for an applicant to fetch his/her pending applications

## Describe the solution you'd like
A route that fetches a list of all the pending applications of a user

@pankajkumarbij, please assign this issue to me

[2021-05-22 16:35] mitalirs opened #332 "approved applications (applicant backend)"
## Is your feature request related to a problem? Please describe.
Currently, there is no way for an applicant to fetch his/her approved applications

## Describe the solution you'd like
A route that fetches a list of all the approved applications of a user

I would like to work on this issue

[2021-05-22 16:37] mitalirs opened #333 "rejected applications (applicant backend)"
## Is your feature request related to a problem? Please describe.
Currently, there is no way for an applicant to fetch his/her rejected applications

## Describe the solution you'd like
A route that fetches a list of all the rejected applications of a user

I would like to work on this issue

[2021-05-22 16:40] mitalirs opened #334 "pending job+fresherjob applications (employer backend)"
## Is your feature request related to a problem? Please describe.
Currently, there is no way for an employer to fetch his/her pending job+fresherJob applications

## Describe the solution you'd like
A route that fetches a list of all the pending job+fresherJob applications for an employer

I would like to work on this issue

[2021-05-22 16:41] mitalirs opened #335 "pending internship applications (employer backend)"
## Is your feature request related to a problem? Please describe.
Currently, there is no way for an employer to fetch his/her pending internship applications

## Describe the solution you'd like
A route that fetches a list of all the pending internship applications for an employer

I would like to work on this issue

[2021-05-22 16:41] #321 closed

[2021-05-22 16:42] #326 closed

[2021-05-23 12:11] #327 closed

[2021-05-23 16:52] #328 closed

[2021-05-23 16:52] #331 closed

[2021-05-23 16:55] #335 closed

[2021-05-24 14:01] #280 closed

[2021-05-24 14:01] #332 closed

[2021-05-24 14:19] #333 closed

[2021-05-24 14:25] #334 closed

[2021-05-25 11:30] EkjotKaur opened #344 "Frontend for Get Jobs By location"
- [x]  Creating new page for Job by location under the drop down
- [x]  Designing it
- [x]  The page will contain Jobs grouped by their location
- [x]  Connecting to backend
- [x]  Connecting to navbar

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-25 11:31] EkjotKaur opened #345 "Frontend for Get Jobs By stream"
- [x]  Creating new page for Job by stream under the drop down
- [x]  Designing it
- [x]  The page will contain Jobs grouped by their stream
- [x]  Connecting to backend
- [x]  Connecting to navbar

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-25 11:32] EkjotKaur opened #346 "Frontend for Get Jobs By industry"
- [x]  Creating new page for Job by industry under the drop down
- [x]  Designing it
- [x]  The page will contain Jobs grouped by their industry
- [x]  Connecting to backend
- [x]  Connecting to navbar

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-25 12:06] Bhavya-Sehgal opened #348 "Make Home page responsive"
I want to make home page responsive .

{GSSOC'21]

Please assign me this issue @pankajkumarbij @asi309 @palashgdev @Vidit-jindal .

[2021-05-25 12:08] Bhavya-Sehgal commented on #348
Sceenshot:

![eji-home](https://user-images.githubusercontent.com/66208607/119495400-0149a800-bd80-11eb-810b-308dfa801f1a.png)

[2021-05-25 12:27] pankajkumarbij commented on #348
@Bhavya-Sehgal Go ahead

[2021-05-25 12:28] #344 closed

[2021-05-25 12:51] #348 closed

[2021-05-25 13:15] kartikpuri99 commented on #57
@pankajkumarbij i have created a card ui for the internship card.If you like it i could open a issue for the same and
can try to integrate in the website.You can check the design using the link below.
https://user-images.githubusercontent.com/52126579/119503365-83d66580-bd88-11eb-8ab2-cc900d0ddf9d.mp4

[2021-05-25 15:21] Bhavya-Sehgal opened #351 "Make navbar Responsive"
I want to make navbar responsive .

[GSSOC'21]

Please assign me this issue  @pankajkumarbij @asi309 @palashgdev @Vidit-jindal .

Screenshot:

![eji-nav1](https://user-images.githubusercontent.com/66208607/119524101-f51f1400-bd9a-11eb-92bf-d606865d1865.png)

![eji-nav2](https://user-images.githubusercontent.com/66208607/119524124-fc462200-bd9a-11eb-96ba-39cab60cd257.png)

[2021-05-25 18:45] Bhavya-Sehgal opened #352 "Backend for get Internship by company name"
API for Getting Internships based to company name for the "Get Internships By Company name"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-25 18:48] Bhavya-Sehgal opened #353 "Backend for get Job by company name"
API for Getting jobs based to company name for the "Get jobs By Company name"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-25 18:49] Bhavya-Sehgal opened #354 "Backend for get fresher jobs by company name"
API for Getting fresher jobs based to company name for the "Get fresher jobs By Company name"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-26 15:35] pankajkumarbij commented on #57
@kartikpuri99 Nice Design
You can open two issues for it one for internship and one for job+freshers job.

[2021-05-26 15:37] #345 closed

[2021-05-26 15:39] #352 closed

[2021-05-26 15:43] #354 closed

[2021-05-26 15:43] #353 closed

[2021-05-26 15:50] kartikpuri99 opened #358 "Frontend Card UI design for Internship Card"
What I will do:
- [x] Creating a card UI component for internship
- [x] intergrating the card component to all the corresponding pages.
@pankajkumarbij  Please assign this issue to me.

[2021-05-26 15:51] kartikpuri99 opened #359 "Frontend Card UI design for Fresher Job and Jobs Card"
What I will do:
- [x] Creating a card UI component for job+fresher jobs
- [x] intergrating the card component to all the corresponding pages.

@pankajkumarbij  please assign this issue to me

[2021-05-26 15:52] kartikpuri99 commented on #57
okay

[2021-05-26 16:36] mitalirs opened #360 "student Notification model (backend)"
## Is your feature request related to a problem? Please describe.
Currently, there is no notification feature for students

## Describe the solution you'd like
create studentNotification model with the following fields -

1. notificationFor (student id)
2. notificationBy (employer id)
3. notificationTitle (string)
4. applicationNotification (if notification is about appl approval/rejection, applic

[2021-05-26 16:45] mitalirs opened #361 "savedCompanies to student model"
## Is your feature request related to a problem? Please describe.
a student cannot starmark/save a company so that he/she can get notified when the company has any opening

## Describe the solution you'd like
add savedCompanies field (to student model) to starmark a company

add a saveCompany route to studentController file which will be a post request (the companyName (which will be sent as req b

[2021-05-26 16:47] Bhavya-Sehgal opened #362 "Backend for get Job by employee name"
API for Getting jobs based to company name for the "Get jobs By Employee name"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-26 16:48] Bhavya-Sehgal opened #363 "Backend for get internships by employee name"
API for Getting interships based to company name for the "Get internships By Employee name"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-26 16:48] Bhavya-Sehgal opened #364 "Backend for get fresher jobs by employee name"
API for Getting freshers jobs based to company name for the "Get freshers jobs By Employee name"

@pankajkumarbij @asi309 @palashgdev @Vidit-jindal assign me this issue.

[2021-05-26 16:49] mitalirs opened #365 "getNotifications (student backend)"
## Is your feature request related to a problem? Please describe.
currently there is no feature for student to fetch his/her pending notifications

## Describe the solution you'd like
a route that fetches all the unread notifications for a particular user

[2021-05-26 16:51] mitalirs opened #366 "fetch notification by id (student backend)"
## Is your feature request related to a problem? Please describe.
currently, a notification status remains unread, since a user cannot fetch/open a notification by id

## Describe the solution you'd like
route to fetch notification by id that changes its status to 'read'

[2021-05-26 16:54] pankajkumarbij commented on #362
@Bhavya-Sehgal thanks for opening this issue.
This feature is not that much important please try another issue related to student and employer dashboards.

[2021-05-26 16:54] #362 closed

[2021-05-26 16:55] mitalirs opened #367 "send notification for internship opening (employer backend)"
## Is your feature request related to a problem? Please describe.
a user does not get notified when a company he/she has saved has an internship opening

## Describe the solution you'd like
add code to createInternship route that sends a notification to all the students who have added that particular company to their savedComapnies list

[2021-05-26 16:55] #363 closed

[2021-05-26 16:56] mitalirs opened #368 "notification for job/fresherJob opening (employer backend)"
## Is your feature request related to a problem? Please describe.
a user does not get notified when a company he/she has saved has a job/fresherJob opening

## Describe the solution you'd like
add code to createJob and createFresherJob routes that will send a notification to all the students who have added that particular company to their savedComapnies list

[2021-05-26 16:56] pankajkumarbij commented on #364
@Bhavya-Sehgal Some backend is done related to student and employer dashboard like update delete profile etc. you can work on that frontend if you want.

Thanks.

[2021-05-26 16:56] #364 closed

[2021-05-26 17:09] EkjotKaur opened #369 "Frontend page to company sorted internships, job and fresher's job page"
- [x] What fill container all the company names of internships, job and fresher's job
- [x] Through which user can search according to company

@pankajkumarbij  please assign me this issue.

[2021-05-26 17:10] EkjotKaur opened #370 "Frontend for get Internships by company name"
- [x] Frontend for get Internships by company name

@pankajkumarbij  please assign me this issue.

[2021-05-26 17:11] EkjotKaur opened #371 "Frontend for get Jobs by company name"
Frontend for get Jobs by company name

@pankajkumarbij please assign me this issue.

[2021-05-26 17:11] EkjotKaur opened #372 "Frontend for get Fresher's Jobs by company name"
Frontend for get Fresher's Jobs by company name

@pankajkumarbij please assign me this issue.

[2021-05-27 02:25] #351 closed

[2021-05-27 02:26] #361 closed

[2021-05-27 02:27] #360 closed

[2021-05-27 11:40] #365 closed

[2021-05-27 11:41] #367 closed

[2021-05-27 14:40] mitalirs opened #381 "notification for application approval"
## Is your feature request related to a problem? Please describe.
- there is no feature that notifies a student if his/her application gets approved

## Describe the solution you'd like
- add code to the route so that the student gets notified if his/her application gets approved

[2021-05-27 14:58] mitalirs opened #382 "notification for application rejection"
## Is your feature request related to a problem? Please describe.
- there is no feature that notifies a student if his/her application gets rejected

## Describe the solution you'd like
- add code to the route so that the student gets notified if his/her application gets rejected

[2021-05-28 04:11] #368 closed

[2021-05-28 04:11] #366 closed

[2021-05-28 04:13] #358 closed

[2021-05-28 08:37] kartikpuri99 opened #384 "Frontend for Get FreshersJobs Group By Stream"
Create Frontend page to Get FreshersJobs Group By Stream
@pankajkumarbij  please assign this issue to me

[2021-05-28 08:38] kartikpuri99 opened #385 "Frontend for Get FreshersJobs Group By Location"
Create Frontend Page for Get FreshersJobs Group By Location
@pankajkumarbij  please assign this issue to me

[2021-05-28 08:57] #359 closed

[2021-05-28 17:24] #381 closed

[2021-05-28 17:25] #385 closed

[2021-05-28 17:36] #371 closed

[2021-05-28 17:39] #370 closed

[2021-05-28 18:28] mitalirs opened #392 "employer notification model"
## Is your feature request related to a problem? Please describe.
Currently, there is no notification feature for employers

## Describe the solution you'd like
create employerNotification model with the following fields -

1. notificationFor (employer id)

2. notificationBy (student id)

3. notificationTitle (string)

4. internshipApplicationNotification (if notification is about a new appl, an a

[2021-05-28 18:29] mitalirs opened #393 "employer_notification for internship application (student backend)"
## Is your feature request related to a problem? Please describe.
Currently, no employer notification object gets created when a student applies for an internship

## Describe the solution you'd like
add code to student backend that generates an employer notification object when a student applies for an internship

[2021-05-28 18:30] mitalirs opened #394 "employer_notification for job+fresherJob application (student backend)"
## Is your feature request related to a problem? Please describe.
Currently, no employer notification object gets created when a student applies for a job/fresher job

## Describe the solution you'd like
add code to student backend that generates an employer notification object when a student applies for a job/fresher job

[2021-05-28 18:36] mitalirs opened #395 "get employer_notification list"
## Is your feature request related to a problem? Please describe.
Currently, an employer cannot fetch a list of unread notifications

## Describe the solution you'd like
A route that will fetch a list of all unread notifications

[2021-05-28 18:42] mitalirs opened #396 "get employer_notification by id"
## Is your feature request related to a problem? Please describe.
there is no way to fetch an employer_notification by id

## Describe the solution you'd like
a create a route that fetches an employer_notification by its id

[2021-05-29 14:52] EkjotKaur opened #398 "Backend for Getting company names of Internships"
Backend for Getting company names so that I can create the frontend page for Linking the other pages.
Issue already create for frontend

Internships.

@pankajkumarbij  please assign me this issue.

[2021-05-29 14:57] Bhavya-Sehgal opened #400 "Backend for Getting company names of Jobs"
Backend for Getting company names  of jobs

@pankajkumarbij please assign me this issue.

[2021-05-29 14:57] Bhavya-Sehgal opened #401 "Backend for Getting company names of Freshers Jobs"
Backend for Getting company names of freshers jobs

@pankajkumarbij please assign me this issue.

[2021-05-29 16:44] #372 closed

[2021-05-29 16:46] #384 closed

[2021-05-29 16:48] #398 closed

[2021-05-29 17:09] EkjotKaur opened #402 "Frontend for getting company names for jobs"
Frontend for getting company names for jobs

@pankajkumarbij  please assign me this issue.

[2021-05-29 17:11] EkjotKaur opened #404 "Frontend for getting company names for freshers jobs"
Frontend for getting company names for fresher's jobs

@pankajkumarbij  please assign me this issue.

[2021-05-29 17:14] #369 closed

[2021-05-30 03:16] #400 closed

[2021-05-30 03:18] #401 closed

[2021-05-30 03:19] #392 closed

[2021-05-30 03:20] #393 closed

[2021-05-30 03:21] #394 closed

[2021-05-30 05:25] #402 closed

[2021-05-30 05:39] EkjotKaur opened #414 "Frontend for Creating form for Online Training"
Form for create online training

@pankajkumarbij  please assign me this issue.

[2021-05-30 05:40] EkjotKaur opened #415 "Backend for Creating form for Online Training"
- [ ] Backend for Form for create online training
- [ ] Creating model
- [ ] adding it to database

@pankajkumarbij please assign me this issue.

[2021-05-30 06:07] pankajkumarbij commented on #414
@EkjotKaur We have not provided any training through this plateform.

[2021-05-30 06:07] #414 closed

[2021-05-30 06:07] pankajkumarbij commented on #415
@EkjotKaur We have not provided any training through this plateform.

[2021-05-30 06:07] #415 closed

[2021-05-30 06:09] #404 closed

[2021-05-30 08:44] EkjotKaur commented on #414
The frontend of the website had links for Online training that's why created it.

[2021-05-30 08:53] EkjotKaur opened #416 "Navbar has missing link. Routing is not correct."
- [x] Navbar has missing link.
- [x] Need to add it in the navbar
- [x] Pages say 404 page on found
- [x] Routing should be proper

@pankajkumarbij please assign me this issue.

[2021-05-30 09:30] EkjotKaur opened #418 "Improving UI of student profile builder"
- Improving UI of student profile builder

@pankajkumarbij  please assign me this issue

[2021-05-30 09:32] EkjotKaur opened #419 "Creating frontend for Get Bookmarked internships."
- Creating frontend for Get Bookmarked internships.
- New Design.

@pankajkumarbij  please assign me this issue.

[2021-05-30 09:33] EkjotKaur opened #420 "Creating frontend for Get Bookmarked Jobs"
- [x] Creating frontend for Get Bookmarked jobs.
- [x] New Design.
- [ ]

@pankajkumarbij please assign me this issue.

[2021-05-30 09:33] EkjotKaur opened #421 "Creating frontend for Get Bookmarked Fresher's Jobs"
- [x]  Creating frontend for Get Bookmarked fresher's jobs.
- [x]  New Design.

@pankajkumarbij please assign me this issue.

[2021-05-30 09:35] EkjotKaur opened #422 "Frontend for save internships"
- Frontend for save internships

@pankajkumarbij  please assign me this issue.

[2021-05-30 09:35] EkjotKaur opened #423 "Frontend for save jobs"
Frontend for save jobs

@pankajkumarbij please assign me this issue.

[2021-05-30 09:36] EkjotKaur opened #424 "Frontend for save Fresher's Job"
Frontend for save Fresher's Job

@pankajkumarbij  please assign me this issue.

[2021-05-30 10:19] #395 closed

[2021-05-30 10:23] #396 closed

[2021-05-30 10:24] #416 closed

[2021-05-30 10:31] pankajkumarbij commented on #414
@EkjotKaur yes its made by someone when home page is created.

[2021-05-30 11:01] mitalirs opened #425 "adding fields to internship and job models"
## Is your feature request related to a problem? Please describe.
a student does not get to know proper details about internship/job/fresher job

## Describe the solution you'd like
adding following fields to internship, job, fresher job models:
1. work from home (bool)
2. part-time allowed (bool)
3. with a job offer (bool)
4. prerequisites for a particular role

I wish to work on the backend part

[2021-05-30 11:01] mitalirs opened #426 "adding extra fields to student model"
## Is your feature request related to a problem? Please describe.
fewer details stored in the student profile

## Describe the solution you'd like
add the following fields to the student profile so that if an employer views student profile more information will be provided:
1. location
2. skills
3. current role
4. open to roles like
5. work experience
6. description/bio
I wish to work on the backe

[2021-05-30 11:02] mitalirs opened #427 "fetch student route"
## Is your feature request related to a problem? Please describe.
there is no way for an employer to view a student profile without unnecessary details

## Describe the solution you'd like
a route in the employer controller file that will fetch all the relevant info about the student and not render confidential details (like a password) or other unnecessary information

I wish to work on the backe

[2021-05-30 11:05] mitalirs opened #428 "create a company model"
## Is your feature request related to a problem? Please describe.
currently, there is no company model to check the authenticity of employers, (any employer can create his/her profile with a company name without the consent of the company)

## Describe the solution you'd like
a 'company' model with fields like:
1. name
2. no of employees
3. registered employees
4. tags (actively hiring, funded, gr

[2021-05-30 11:08] mitalirs opened #429 "add a login+signin route for company"
## Is your feature request related to a problem? Please describe.
no way for a company to sign in/login

## Describe the solution you'd like
add proper routes to the backend controller file of the company

[2021-05-30 11:10] mitalirs opened #430 "adding functions to company model"
## Is your feature request related to a problem? Please describe.
no function to generate auth token or search by credentials in the company model or hash password every time before saving it

## Describe the solution you'd like
add 3 functions:
1. generate an auth token
2. search by credentials
3. hash password before saving

[2021-05-30 11:22] mitalirs opened #431 "register employers route in company backend"
## Is your feature request related to a problem? Please describe.
a company cannot register employers

## Describe the solution you'd like
a route that registers employers (by their company id) and stores it in its registered employers' list

I wish to work on the backend part

[2021-05-30 11:25] mitalirs opened #433 "modifying employer signin"
## Is your feature request related to a problem? Please describe.
An employer can randomly create an account using any company name

## Describe the solution you'd like
adding checks to employer sign-in route so that:
1. he/she enters a valid company name
2. can use a company name only if they have their unique company_id (given to them by the company) stored in the 'registered employers' field of

[2021-05-30 11:33] mitalirs opened #434 "adding middleware for company"
## Is your feature request related to a problem? Please describe.
companies have to be signed in to perform some operations, currently there is no feature to ensure that

## Describe the solution you'd like
adding auth middleware for companies

I wish to work on backend part

[2021-05-30 11:49] EkjotKaur opened #435 "Creating Bookmark has an error"
- [ ] Creating Bookmark has an error
- [ ] User is getting added to the internship
- [ ] Instead internship should be added to the user

- [ ] Since book mark is created by the student it should be in student and not user being added to the internship.

@pankajkumarbij  please assign me this issue.

[2021-05-30 11:49] #418 closed

[2021-05-30 11:57] kartikpuri99 opened #436 "Backend to fetch details of a particular Student by ID"
## Is your feature request related to a problem? Please describe.
Right now there are routes to update and delete a student but no route to view a particular student details by ID.

## Describe the solution you'd like
I want to create the route to fetch students details by ID.Please assign this issue to me.@pankajkumarbij

[2021-05-30 11:57] kartikpuri99 opened #437 "Backend to fetch details of particular employer by ID"
## Is your feature request related to a problem? Please describe.
Right now there are routes to update and delete a employer but no route to view a particular employer details by ID.

## Describe the solution you'd like
I want to create the route to fetch employers details by ID.Please assign this issue to me.@pankajkumarbij

[2021-05-30 12:14] pankajkumarbij commented on #429
Employer is only responsible for that company you can add functionality to that employer to make profile of that company.

There is no separate login or signup for any company.

[2021-05-30 12:14] #429 closed

[2021-05-30 12:14] #430 closed

[2021-05-30 12:15] pankajkumarbij commented on #431
one employer can register and he is only responsible for that company.

[2021-05-30 12:15] #431 closed

[2021-05-30 12:15] #433 closed

[2021-05-30 12:18] EkjotKaur opened #440 "Creating Bookmark for Job has an error"
- [ ] Creating Bookmark has an error
- [ ]  User is getting added to the job
- [ ]  Instead internship should be added to the user
- [ ]  Since book mark is created by the student it should be in student and not user being added to the job.

@pankajkumarbij please assign me this issue.

[2021-05-30 12:18] #434 closed

[2021-05-30 12:18] EkjotKaur opened #441 "Creating Bookmark for Fresher's Job has an error"
- [ ]  Creating Bookmark has an error
- [ ]  User is getting added to the fresher's job
- [ ]  Instead fresher's job should be added to the user
- [ ]  Since book mark is created by the student it should be in student and not user being added to the  fresher's job.

@pankajkumarbij please assign me this issue.

[2021-05-30 12:21] pankajkumarbij commented on #428
@mitalirs You can make backend for company profile that make by an employer.

[2021-05-30 12:24] #422 closed

[2021-05-30 12:25] #435 closed

[2021-05-30 12:26] #440 closed

[2021-05-30 12:37] #441 closed

[2021-05-30 12:57] mitalirs commented on #429
Alright, I misunderstood the idea, I thought a company can have more than employees who can create job openings and so I believed that they have to be registered with the company
Sorry for the confusion

Also according to this 2 employers cannot sign-up with the same company name, right? so @pankajkumarbij, will it be okay if I create a new issue regarding adding checks while sign up so that no 2

[2021-05-30 13:00] pankajkumarbij commented on #429
@mitalirs You can create an issue regarding adding checks while sign up so that no 2 employers with the same company name exist.

Thanks for making this project amazing.

[2021-05-30 13:01] #423 closed

[2021-05-30 13:02] pankajkumarbij commented on #428
@mitalirs You can open an issue regarding adding checks while sign up so that no 2 employers with same company name exist that you describe in the closed issue.

[2021-05-30 13:03] mitalirs opened #445 "no 2 employers with same company name"
## Is your feature request related to a problem? Please describe.
Currently, there is no way to prevent an employer from signing up with an already existing companyName

## Describe the solution you'd like
adding checks to prohibit employer to sign up using an already existing companyName

[2021-05-30 13:10] EkjotKaur opened #447 "Get Bookmark for internship change"
Since, Backend for add to bookmark has changed, Get Bookmark for internship should be changed

@pankajkumarbij please assign me this issue.

[2021-05-30 13:11] EkjotKaur opened #448 "Get Bookmark for job change"
Since, Backend for add to bookmark has changed, Get Bookmark for job should be changed

@pankajkumarbij please assign me this issue.

[2021-05-30 13:11] EkjotKaur opened #449 "Get Bookmark for fresher's job change"
Since, Backend for add to bookmark has changed, Get Bookmark for fresher's job should be changed.

@pankajkumarbij please assign me this issue.

[2021-05-30 16:30] #424 closed

[2021-05-30 16:32] #449 closed

[2021-05-30 16:33] #436 closed

[2021-05-30 16:35] #437 closed

[2021-05-30 17:16] EkjotKaur opened #455 "Bookmark internship on all pages"
- [x] Bookmark internship is only on one Page i.e. All internship page
- [x] I'll add it to all internship pages.

@pankajkumarbij please assign me this issue.

[2021-05-30 17:17] EkjotKaur opened #456 "Bookmark Jobs on all pages"
- [ ]  Bookmark jobs is only on one Page i.e. All job page
- [ ]  I'll add it to all job pages.

@pankajkumarbij please assign me this issue.

[2021-05-30 17:18] EkjotKaur opened #457 "Bookmark Fresher's Jobs on all pages"
- [ ]  Bookmark Fresher's job  is only on one Page i.e. All fresher's job page
- [ ]  I'll add it to all  Fresher's job pages.

@pankajkumarbij please assign me this issue.

[2021-05-30 17:22] #447 closed

[2021-05-30 17:23] #448 closed

[2021-05-30 20:29] mitalirs opened #466 "add company route"
## Is your feature request related to a problem? Please describe.
an employer cannot add company details

## Describe the solution you'd like
add an addCompany route in employer backend

[2021-05-30 20:34] mitalirs opened #468 "update company details"
## Is your feature request related to a problem? Please describe.
an employer cannot update company details

## Describe the solution you'd like
add updateCompanyDetails route in employer backend

[2021-05-30 20:36] mitalirs opened #469 "viewCompany in student backend"
## Is your feature request related to a problem? Please describe.
a student cannot view the details of the company

## Describe the solution you'd like
add a route that fetches company details

[2021-05-31 03:41] #428 closed

[2021-05-31 03:42] #455 closed

[2021-05-31 03:43] #456 closed

[2021-05-31 03:44] #457 closed

[2021-05-31 03:49] #445 closed

[2021-05-31 03:50] #426 closed

[2021-05-31 03:50] #425 closed

[2021-05-31 03:59] EkjotKaur opened #470 "Deleting internship code is redundant."
- [x] Deleting code is redundant.
- [x] It is again and again over 9 pages
- [x] Since other things are shorten this should also be reduce

@pankajkumarbij  please assign me this issue.

[2021-05-31 04:00] EkjotKaur opened #471 "Deleting job code is redundant."
- [ ]  Deleting code is redundant.
- [ ]  It is again and again over 6 pages
- [ ]  Since other things are shorten this should also be reduce

@pankajkumarbij please assign me this issue.

[2021-05-31 04:00] EkjotKaur opened #472 "Deleting fresher's job code is redundant."
- [ ]  Deleting code is redundant.
- [ ]  It is again and again over 6 pages
- [ ]  Since other things are shorten this should also be reduce

@pankajkumarbij please assign me this issue.

[2021-05-31 04:01] #466 closed

[2021-05-31 04:09] #427 closed

[2021-05-31 04:10] pankajkumarbij commented on #470
@EkjotKaur what happen?

[2021-05-31 05:27] #419 closed

[2021-05-31 05:28] #420 closed

[2021-05-31 05:28] kartikpuri99 opened #479 "Frontend Creating form for updating student details"
## Is your feature request related to a problem? Please describe.
Right now there is a backend route to update student details but there is no frontend form to call the route
## Describe the solution you'd like
I want to create the student details update form.Please assign this issue to me @pankajkumarbij

[2021-05-31 05:29] #421 closed

[2021-05-31 05:29] kartikpuri99 opened #480 "Frontend Creating form for updating employer details"
## Is your feature request related to a problem? Please describe.
Right now there is a backend route to update employer details but there is no frontend form to call the route
## Describe the solution you'd like
I want to create the employer details update form.Please assign this issue to me @pankajkumarbij

[2021-05-31 05:30] #472 closed

[2021-05-31 05:31] #470 closed

[2021-05-31 05:32] EkjotKaur opened #481 "Student profile builder is not resposive"
Make student profile builder responsive.

@pankajkumarbij  please assign me this issue.

[2021-05-31 05:34] EkjotKaur opened #482 "Creating frontend page for Displaying student profile"
Creating frontend page for Displaying student profile

@pankajkumarbij  please assign me this issue.

[2021-05-31 05:34] #471 closed

[2021-05-31 05:40] EkjotKaur opened #483 "Search Bookmarked Internship code needs to be corrected"
Search Bookmarked Internship code needs to be corrected as other code was changed

@pankajkumarbij please assign me this issue.

[2021-05-31 05:40] EkjotKaur opened #484 "Search Bookmarked Job code needs to be corrected"
- Search Bookmarked Job code needs to be corrected as other code was changed

@pankajkumarbij please assign me this issue.

[2021-05-31 05:41] EkjotKaur opened #485 "Search Bookmarked Fresher's Job code needs to be corrected"
- Search Bookmarked Fresher's Job code needs to be corrected as other code was changed

@pankajkumarbij please assign me this issue.

[2021-05-31 06:04] mitalirs opened #488 "modify delete job route"
## Is your feature request related to a problem? Please describe.
currently when an job is deleted, if it is bookmarked by a student it still remains in the array

## Describe the solution you'd like
modify delete job route so that when it is deleted, it gets removed from the bookmarked list of all the students who had saved it

[2021-05-31 06:04] mitalirs opened #489 "modify delete internship route"
## Is your feature request related to a problem? Please describe.
currently when an internship is deleted, if it is bookmarked by a student it still remains in the array

## Describe the solution you'd like
modify delete internship route so that when it is deleted, it gets removed from the bookmarked list of all the students who had saved it

[2021-05-31 06:04] mitalirs opened #490 "modify delete fresher job route"
## Is your feature request related to a problem? Please describe.
currently when a fresher job is deleted, if it is bookmarked by a student it still remains in the array

## Describe the solution you'd like
modify delete fresher job route so that when it is deleted, it gets removed from the bookmarked list of all the students who had saved it

[2021-05-31 06:08] EkjotKaur opened #492 "Student profile links on navbar"
Student profile links are not there on navbar.
I will add it.

@pankajkumarbij please assign me this issue.

[2021-05-31 06:09] #483 closed

[2021-05-31 06:10] #484 closed

[2021-05-31 06:11] #485 closed

[2021-05-31 06:16] EkjotKaur opened #493 "Errors in Student.auth file"
There are so many Errors in Student.auth file.
I'll resolve them

@pankajkumarbij  please assign me this issue.

[2021-05-31 06:51] #493 closed

[2021-05-31 07:01] #481 closed

[2021-05-31 07:07] pankajkumarbij commented on #482
@EkjotKaur you can make issues dashboard frontend for the employer also because you are storing all id with all jobs, internship, etc.

show profile of employer.

you have already added delete, update for it.

backend available for delete and update profile you can create many issues if you want and find the work is hard.
you can create issues like add functionality to see internships, jobs create

[2021-05-31 07:10] EkjotKaur commented on #482
Okay, Thank you. I'll create issues related to them.

[2021-05-31 07:20] EkjotKaur opened #496 "Backend of Profile Builder form"
- There is no Backend of Profile Builder form.
- Adding fields to the database
- Creating API to save it data.

@pankajkumarbij  please assign me this issue.

[2021-05-31 07:25] EkjotKaur opened #497 "Backend for getting details for profile builder form and student profile page."
Backend for getting details for profile builder form and student profile page.

@pankajkumarbij  please assign me this issue.

[2021-05-31 07:26] EkjotKaur opened #498 "Connecting profile builder form to the backend"
Connecting profile builder form to the backend

@pankajkumarbij please assign me this issue.

[2021-05-31 07:35] pankajkumarbij commented on #346
@EkjotKaur is this issue is completed or pending?

[2021-05-31 08:00] #496 closed

[2021-05-31 08:01] #497 closed

[2021-05-31 08:56] EkjotKaur opened #505 "Validation, error handling and on change handler for General section in Profile builder page."
- [x] Validation
- [x] Error Handling
- [x] On Change Handler
- [x] For General section in Profile builder page.

@pankajkumarbij please assign me this issue.

[2021-05-31 09:13] EkjotKaur opened #507 "Error in Other link"
![Issue-3](https://user-images.githubusercontent.com/66993173/120170379-86204000-c21e-11eb-8877-6ada2ea6051e.png)

If I can one value all the values get changed

@pankajkumarbij  please assign me this issue.

[2021-05-31 10:20] #507 closed

[2021-05-31 10:20] #505 closed

[2021-05-31 10:21] #488 closed

[2021-05-31 10:21] #469 closed

[2021-05-31 10:22] #490 closed

[2021-05-31 10:23] #489 closed

[2021-05-31 10:51] EkjotKaur opened #509 "Student profile builder"
- General Section after have some errors
- Other links to be added to formValues
- onchange for Form Value

@pankajkumarbij please assign me this issue.

[2021-05-31 10:55] #509 closed

[2021-05-31 11:20] EkjotKaur opened #511 "Student login signup error"
Student login signup error

@pankajkumarbij  please assign me this issue.

[2021-05-31 11:25] #511 closed

[2021-05-31 11:41] #479 closed

[2021-05-31 12:43] EkjotKaur commented on #346
completed

[2021-05-31 12:47] kartikpuri99 opened #515 "Create Employer Dashboard"
## Is your feature request related to a problem? Please describe.
A profile View Screen where logged in employee can see his details,edit account,delete account button and the jobs,internship,fresherjobs created by him.

[2021-05-31 13:05] mitalirs opened #517 "view company for employer"
## Is your feature request related to a problem? Please describe.
no way for an employer to view the company created by them

## Describe the solution you'd like
add a route to view company

[2021-05-31 13:08] pankajkumarbij commented on #346
@EkjotKaur there is no PR related to it so I have to close it?
or job by the company is not working you can update this issue and resolve them.

[2021-05-31 13:09] mitalirs opened #518 "modify create internship route"
## Is your feature request related to a problem? Please describe.
while creating an internship, the internship's companyName field should be the same as the company name field of the employer

## Describe the solution you'd like
add some code to fix the issue

[2021-05-31 13:09] #480 closed

[2021-05-31 13:10] mitalirs opened #519 "modify create job route"
## Is your feature request related to a problem? Please describe.
while creating a job, the job's companyName field should be the same as the company name field of the employer

## Describe the solution you'd like
add some code to fix the issue

[2021-05-31 13:11] mitalirs opened #520 "modify create fresher job route"
## Is your feature request related to a problem? Please describe.
while creating a fresher job, the fresher job's companyName field should be the same as the company name field of the employer

## Describe the solution you'd like
add some code to fix the issue

[2021-05-31 13:11] #468 closed

[2021-05-31 14:07] EkjotKaur opened #521 "Validation, error handling and on change handler for Education section in Profile builder page"
@pankajkumarbij  please assign me this issue.

[2021-05-31 14:09] #521 closed

[2021-05-31 14:21] EkjotKaur opened #523 "Validation, error handling and on change handler for Experience section in Profile builder page"
@pankajkumarbij please assign me this issue.

[2021-05-31 14:22] pankajkumarbij commented on #520
@mitalirs what is your discord username?

[2021-05-31 14:23] #523 closed

[2021-05-31 14:30] EkjotKaur opened #525 "Validation, error handling and on change handler for Project section in Profile builder page"
@pankajkumarbij please assign me this issue.

[2021-05-31 14:32] #525 closed

[2021-05-31 14:40] EkjotKaur opened #527 "Validation, error handling and on change handler for Skill section in Profile builder page"
@pankajkumarbij please assign me this issue.

[2021-05-31 14:45] EkjotKaur opened #529 "Validation, error handling and on change handler for Achievements section in Profile builder page"
@pankajkumarbij

[2021-05-31 14:46] #527 closed

[2021-05-31 14:47] #529 closed

[2021-05-31 15:12] EkjotKaur opened #531 "Validation, error handling and on change handler for Volunteer section in Profile builder page"
Validation, error handling and on change handler for Volunteer section in Profile builder page

@pankajkumarbij

[2021-05-31 15:22] EkjotKaur opened #533 "Validation, error handling and on change handler for Other section in Profile builder page"
@pankajkumarbij

[2021-05-31 16:29] EkjotKaur opened #536 "Student auth middeware code corrected"
@pankajkumarbij please assign me this issue.

[2021-05-31 17:19] #531 closed

[2021-05-31 17:19] #533 closed

[2021-05-31 17:21] #498 closed

[2021-05-31 17:21] #536 closed

[2021-05-31 17:22] #515 closed

[2021-05-31 17:35] pankajkumarbij opened #538 "Create Internship, job, freshers job form give error "please add all the fields" every time."
Create Internship, job, freshers job form give error "please add all the fields" every time even after filling all the input fields of the forms.

[2021-05-31 17:35] pankajkumarbij opened #539 "Create Internship, job, freshers job form give error "please add all the fields" every time."
Create Internship, job, freshers job form give error "please add all the fields" every time even after filling all the input fields of the forms.

[2021-05-31 17:37] #538 closed

[2021-05-31 17:52] #482 closed

[2021-05-31 17:54] pankajkumarbij commented on #492
@EkjotKaur please do it because it can be fixed easily, I am available till 12am.

[2021-05-31 17:55] #518 closed

[2021-05-31 17:56] #519 closed

[2021-05-31 17:57] #520 closed

[2021-05-31 17:57] #517 closed

[2021-05-31 18:01] pankajkumarbij commented on #519
@mitalirs If you solve one more issue your rank can be in the top 25 contributors.
You can solve the issue related to the job form that I have opened at level3.

[2021-05-31 18:05] pankajkumarbij commented on #346
@EkjotKaur I think you have already solved it with some PR.

[2021-05-31 18:05] #346 closed

[2021-05-31 18:05] EkjotKaur opened #545 "Profile Education Section"
@pankajkumarbij  please assign me this issue.

[2021-05-31 18:10] #545 closed

[2021-05-31 18:12] mitalirs commented on #519
Actually, I am working on other issues and I also don't have the relevant frontend knowledge

[2021-05-31 18:14] pankajkumarbij commented on #519
keep it up bro you are already in the top 25.

DM me after completion the program on discord.

[2021-05-31 18:21] EkjotKaur opened #547 "Experience"
@pankajkumarbij

[2021-05-31 18:26] #547 closed

[2021-05-31 18:29] EkjotKaur opened #550 "Project"
@pankajkumarbij

[2021-05-31 18:30] #550 closed

[2021-06-02 17:37] #492 closed

[2021-06-08 02:45] pankajkumarbij opened #551 "adding license to the project"

[2021-06-08 09:02] Vidit-jindal commented on #551
Assign this issue to me @pankajkumarbij

[2021-06-08 11:46] #551 closed

[2021-06-19 20:49] Ayonijakaushik19 opened #552 "Add profile image of each contributor in the Contibutors.md file"
Hi @pankajkumarbij, I would like to add a profile image of each top contributor to our project in the Contributors.md file.
Please assign this to me,

[2021-06-19 20:55] Ayonijakaushik19 opened #553 "Add a remember me option in login page"
## Is your feature request related to a problem? Please describe.
-Sometimes it becomes hectic to type username and password often to log in so we can have remembered me option which saves the login information for a particular period, this enables the user to login easily and it also enhances the user experience

## Describe the solution you'd like
A clear and concise description of what you want

[2021-06-19 20:56] Ayonijakaushik19 commented on #553
Hi @pankajkumarbij, Please assign this to me.

[2021-06-20 03:15] pankajkumarbij commented on #552
@Ayonijakaushik19 Go ahead and add top contributors.
You have to add them to the above Cross Woc contributors table.

are you part of any open source program?

[2021-06-20 03:15] pankajkumarbij commented on #553
@Ayonijakaushik19 Go ahead

[2021-06-30 18:33] Umesh-01 opened #554 "add some more badges to readme"
## Description
add some more badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

## Describe the solution you'd like

![image](https://user-images.githubusercont

[2021-06-30 19:17] Umesh-01 commented on #554
@pankajkumarbij Should I work on this issue??

[2021-07-01 02:45] pankajkumarbij commented on #554
@Umesh-01  go-ahead

[2021-07-01 02:48] pankajkumarbij commented on #554
@Umesh-01 you can start working on it and make a PR, I will add labels later.

[2021-07-01 03:07] pankajkumarbij commented on #552
@Ayonijakaushik19 Are you working on it?

[2021-07-02 16:27] akshatvirmani opened #555 "alignment of the first line in "Internship By Industry, location,stream and training""
## Is your feature request related to a problem? Please describe.
Alignment of the first line in "Internship By Industry, location,stream and training"

## Describe the solution you'd like
before:
![image](https://user-images.githubusercontent.com/77536248/124303804-7e86ea80-db80-11eb-8a7e-79692b956d3b.png)

after:
![image](https://user-images.githubusercontent.com/77536248/124303657-526b6980-db80

[2021-07-02 17:28] pankajkumarbij commented on #555
@akshatvirmani  Go ahead

[2021-07-02 17:31] #554 closed

[2021-07-03 12:32] akshatvirmani opened #558 "Changing the location name"
## Describe the bug
Changing the name of the location in the last line

## Additional context
The last location name is "India". Should replace it with another location in India.
![image](https://user-images.githubusercontent.com/77536248/124354225-9fa31600-dc28-11eb-912b-a1b7fe1037b2.png)

[2021-07-04 03:52] #555 closed

[2021-07-04 03:54] pankajkumarbij commented on #558
@akshatvirmani Go ahead.

[2021-07-04 15:48] akshatvirmani opened #560 "Changing the front page card design"
I would like to make the following changes to the card of the front page.
![image](https://user-images.githubusercontent.com/77536248/124391250-524ca480-dd0d-11eb-9f01-42fd10b0cdb9.png)

[2021-07-05 12:48] pankajkumarbij commented on #560
@akshatvirmani Go ahead

[2021-07-05 12:49] #558 closed

[2021-07-05 15:04] akshatvirmani opened #562 "Improving navigation bar"
## Is your feature request related to a problem? Please describe.
 I would like to improve the navigation bar.

[2021-07-05 15:08] akshatvirmani opened #563 "Adding logo in the tech stack"
## Is your feature request related to a problem? Please describe.
I would like to add logo of tech used in the project.

[2021-07-06 04:50] #560 closed

[2021-07-06 04:51] pankajkumarbij commented on #562
@akshatvirmani Go ahead

[2021-07-06 11:37] #563 closed

[2021-07-06 11:38] pankajkumarbij commented on #553
@Ayonijakaushik19 are you working on it?

[2021-07-06 11:38] #553 closed

[2021-07-06 11:38] #552 closed

[2021-07-06 11:42] pankajkumarbij opened #565 "ADD LGMSOC in readme.md file"
ADD LGMSOC open-source program in readme.md file

[2021-07-06 11:42] pankajkumarbij opened #566 "ADD PSOC in readme.md file"
ADD Pclub summer of code open-source program in the readme.MD file

[2021-07-07 06:37] akshatvirmani commented on #566
I would like to work on this issue. Kindly assign this to me.

[2021-07-07 10:04] pankajkumarbij commented on #566
@akshatvirmani Go ahead

[2021-07-08 11:12] #566 closed

[2021-07-08 14:54] akshatvirmani opened #569 "Improving footer"
## Is your feature request related to a problem? Please describe.
No

## Describe the solution you'd like
I would like to improve the footer of the home page.

[2021-07-09 15:55] anushruti11 commented on #565
I would like to add this.

[2021-07-10 05:18] pankajkumarbij commented on #565
@anushruti11 Go ahead

[2021-07-11 05:57] #565 closed

[2021-07-13 15:13] akshatvirmani commented on #569
Should I work on this issue Sir?

[2021-07-14 04:25] pankajkumarbij commented on #569
@akshatvirmani  ok go ahead.

[2021-07-14 08:45] joshi-kaushal commented on #539
Can you please assign this issue to me?

[2021-07-14 09:32] pankajkumarbij commented on #539
@joshi-kaushal Go ahead

[2021-07-22 06:56] joshi-kaushal commented on #539
@pankajkumarbij you please elaborate this issue?

[2021-07-23 03:37] pankajkumarbij commented on #539
@joshi-kaushal try to signup and log in as an employer and try to create internship, job, etc, and see the data is not receiving in the database.

[2021-07-24 04:22] #562 closed

[2021-07-26 08:02] pankajkumarbij commented on #539
@joshi-kaushal are you working on it?

[2021-07-26 16:16] joshi-kaushal commented on #539
Sorry, I am busy with some other stuff so it is really hard for me to find sufficient time to work on this.